/*

Format: less
Site: seelab-formation.fr
Dev: robin moquet
Date: 06 avril 2018
Mediaqueries: 1.0.0

*/
/****************************************************************************************************
                                            Variable
****************************************************************************************************/
/****************************************************************************************************
                                        Mediaqueries Mobile
****************************************************************************************************/
@media screen and (max-width: 540px) {
  .pad-g {
    padding-left: 10px;
    padding-right: 10px;
  }
  p {
    font-size: 14px;
  }
  .control-video {
    display: none;
  }
  /****************************************************************************************************
                                            Parallax
****************************************************************************************************/
  .parallax-container {
    position: relative;
    height: 60vh;
  }
  .parallax {
    position: relative;
    height: 60vh !important;
    width: 100%;
    z-index: 0;
    top: 0;
  }
  /*************************************************************************
                                    Generalité
**************************************************************************/
  .titre3 {
    height: 60vh;
  }
  .titre3 .wrap {
    height: 60vh;
  }
  /*************************************************************************
                                    Menu
**************************************************************************/
  .reseauxTop {
    display: none;
  }
  .navTop .navControls-navTop ul li:nth-of-type(2) {
    display: none;
  }
  .navTop .logo-navTop img {
    width: 60px;
  }
  .menuNav .ul-menuNav {
    display: none;
  }
  .menuNav .btnMenuOverlay-menuNav {
    display: block;
  }
  .menuOverlay {
    justify-content: start;
    padding: 0 20px;
    right: -100%;
    left: auto;
    background: #f3f3f3;
  }
  .menuOverlay header {
    margin: 30px 0px;
  }
  .menuOverlay header strong {
    display: block;
  }
  .menuOverlay header strong::after {
    display: none;
  }
  .menuOverlay .croix {
    display: block;
    height: 2px;
    width: 30px;
    transform: rotate(45deg);
    background: black;
    position: absolute;
    right: 20px;
    top: 40px;
    z-index: 10007;
  }
  .menuOverlay .croix::after {
    content: " ";
    background: black;
    width: 30px;
    height: 2px;
    transform: rotate(90deg);
    position: absolute;
  }
  .menuOverlay .bodyMenuOverlay {
    margin: 0 20px;
  }
  .menuOverlay .bodyMenuOverlay ul {
    flex-direction: column;
  }
  .menuOverlay .bodyMenuOverlay ul li {
    text-align: left;
    margin: 10px;
    font-weight: 200;
    font-size: 24px;
  }
  .menuOverlay .bodyMenuOverlay ul li ul.subMenu {
    display: none;
  }
  .menuOverlay footer {
    justify-content: flex-start;
    margin-top: 50px;
  }
  .menuOverlay footer .social p {
    display: none;
  }
  .menuOverlay footer .social .socialBar ul li {
    margin-right: 15px;
  }
  header .navTop {
    margin: 4vh 0;
  }
  /**************************TITRES*******************************/
  .titreBg {
    padding: 0 0 100px 0;
  }
  .img-in-h1 {
    height: 20px;
    margin-left: 5px;
  }
  .datadock {
    width: 30%;
    margin-top: 30px;
  }
  .titre {
    padding-top: 150px;
    height: auto;
  }
  .titre h1 {
    font-size: 20px;
  }
  .titre h1 span {
    padding-top: 0;
  }
  .titre .next {
    position: absolute;
    left: 20px;
    padding-top: 20px;
  }
  .titre .next img {
    position: relative;
    bottom: 0;
    left: 0;
  }
  /**************************Slider*******************************/
  .slider1 .sliderImg .main-carousel {
    height: 60vh;
  }
  .slider1 .sliderImg .main-carousel .flickity-viewport {
    height: 60vh !important;
  }
  .slider1 .sliderImg .main-carousel .carousel-cell .carousel-cell-image {
    display: block;
    position: relative;
  }
  .slider1 .sliderImg .main-carousel .carousel-cell .description {
    margin: 10px;
  }
  .slider1 .sliderImg .main-carousel .carousel-cell .description h2 {
    font-size: 24px;
  }
  .slider1 .sliderImg .main-carousel .carousel-cell .description h2 span {
    top: -3px;
  }
  /***********************formationenQuatresPoints*****************/
  .formationEnQuatresPoints div:first-child {
    flex-direction: column;
  }
  .formationEnQuatresPoints div:first-child .text-ou {
    padding: 20px;
    width: 100%;
  }
  .formationEnQuatresPoints div:first-child .text-ou article {
    text-align: justify;
  }
  .formationEnQuatresPoints div:first-child div:first-child {
    display: none;
  }
  .formationEnQuatresPoints div:first-child article {
    width: 100%;
    text-align: center;
  }
  /***************************VIDEO*********************************/
  #video-fond {
    position: relative;
    top: 0;
  }
  #video-fond #controle-vid {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 80px;
    height: 80px;
    z-index: 300;
    transform: translate(-50%, -50%);
  }
  #video-fond #controle-vid::after {
    position: absolute;
    content: " ";
    width: 0px;
    height: 0px;
    top: 50%;
    left: 50%;
    transform: rotate(90deg) translate(-46%, 50%);
    border-left: 18px solid transparent;
    border-right: 18px solid transparent;
    border-bottom: 30px solid white;
  }
  #video-fond #controle-vid::before {
    position: absolute;
    content: " ";
    width: 70px;
    height: 70px;
    top: 50%;
    left: 50%;
    background: #4ff4ff;
    opacity: 0.7;
    border-radius: 50%;
    transform: translate(-50%, -50%);
  }
  /***************************OFFRES******************************/
  .formation {
    flex-direction: column;
  }
  .formation article {
    width: 100%;
  }
  /*************************ATELIER*********************************/
  .titre3 {
    background-attachment: initial;
  }
  .atelier {
    flex-direction: column;
    background-attachment: initial;
  }
  .atelier div {
    width: 100%;
    padding: 20px;
  }
  .atelier .left {
    margin-left: 0;
  }
  /*************************REALISER*******************************/
  .realiser .real-flex {
    flex-direction: column;
  }
  .realiser .real-flex .img-real {
    margin: 0;
    width: 100%;
  }
  .realiser .real-flex .text-real {
    margin: 20px 0 0 0;
    width: 100%;
    padding: 20px;
  }
  /*************************temoignage*******************************/
  .temoignages .main-carousel {
    height: 40vh;
  }
  .temoignages .main-carousel .flickity-button {
    display: none;
  }
  .temoignages .main-carousel .carousel-cell {
    padding: 0;
  }
  .temoignages .main-carousel .flickity-page-dots {
    bottom: auto;
    padding-top: 30px;
  }
  /*************************Agence*******************************/
  .agence {
    margin-top: 60px;
  }
  .agence .wrap {
    width: 100%;
    padding: 50px 20px 20px;
  }
  .agence .wrap h6 {
    font-size: 1.5rem;
  }
  /*****************************Footer*******************************/
  footer.pad-g {
    padding: 50px 10px;
    text-align: center;
  }
  footer.pad-g .top {
    display: none;
  }
  /****************************************************************************************************
                                            Concept
****************************************************************************************************/
  .nousSommes {
    padding-top: 10vh;
    padding-bottom: 10vh;
  }
  .nousSommes section {
    width: 90%;
  }
  .nousSommes section h2 {
    font-size: 24px;
  }
  .personnes {
    flex-direction: column;
    align-items: center;
  }
  .personnes article:first-child {
    margin-bottom: 100px;
  }
  /****************************************************************************************************
                                            Formations
****************************************************************************************************/
  #video-fond {
    background: url(../img/contact-img.jpg) no-repeat center center;
    background-size: cover;
  }
  #video-fond #myVideo {
    margin-top: -20vh;
  }
  .formation {
    flex-direction: column;
  }
  /****************************************************************************************************
                                        Formations Pages
****************************************************************************************************/
  .titre2 {
    padding-top: 20vh;
  }
  .titre2 h1 {
    font-size: 1.5rem;
  }
  .titre2 .socialBar {
    margin-top: 20px;
  }
  .titreFor .wrap h1 {
    font-size: 2.3rem;
  }
  .titreFor .wrap p {
    font-size: 1.3rem;
  }
  .six-bloc .wrap .triple-bloc {
    flex-direction: column;
  }
  .six-bloc .wrap .triple-bloc article {
    width: 100%;
  }
  .image-formation {
    background-attachment: scroll;
  }
  .image-formation img {
    width: 50%;
  }
  .text-principale .wrap {
    flex-direction: column;
  }
  .text-principale .wrap .corp {
    margin-right: 0;
  }
  .text-principale .wrap .corp .t-n-2 {
    font-size: 1.1em;
  }
  .text-principale .wrap .corp ol li {
    font-size: 14px;
  }
  .text-principale .wrap .image-text-principale {
    display: none;
  }
  .tarifs .wrap .offres-tarifs {
    flex-direction: column;
  }
  .tarifs .wrap .offres-tarifs div {
    margin: 20px;
  }
  .tarif-atelier {
    flex-direction: column;
  }
  .tarif-atelier div {
    width: 100%;
  }
  .personnalisable {
    background-attachment: scroll;
  }
  .personnalisable .wrap article {
    width: 90%;
  }
  .personnalisable .wrap article i {
    display: none;
  }
  .personnalisable .wrap article .atelier-corp ul {
    flex-direction: column;
  }
  /*************************************************************************
                                    Ateliers
**************************************************************************/
  .bg-color .ateliers-text .wrap p {
    font-size: 20px;
  }
  .ateliers .triple-bloc {
    flex-direction: column;
  }
  .ateliers .triple-bloc article {
    width: 100%;
  }
  /*************************************************************************
                                    Atelier
**************************************************************************/
  .btn-fixe-resa a {
    bottom: 0;
    width: 100%;
    top: auto;
    border-left: none;
    border-top: 5px solid #FFD03B;
    justify-content: center;
  }
  .bonnes-rai .bonnes-rai-h {
    font-size: 1em;
  }
  .bonnes-rai .bonnes-rai-h strong {
    font-size: 1.5em;
  }
  .bonnes-rai .flex-trois {
    flex-direction: column;
  }
  .bonnes-rai .flex-trois article {
    width: 100%;
  }
  /*********************CALENDRIER*********************/
  .calendrier ul li header .cl-date h2 {
    font-size: 24px;
  }
  .calendrier ul li header .cl-date h6 {
    font-size: 15px;
  }
  .calendrier ul li header .cl-titre h2 {
    font-size: 24px;
  }
  /****************************************************************************************************
                                        FAQ pages
****************************************************************************************************/
  .titre3 .wrap .contenu h1 {
    font-size: 1.5rem;
  }
  .sideBar {
    display: none;
  }
  .main-faq .faq ul li {
    max-height: 100px;
  }
  .main-faq .faq ul li h4 {
    width: 90%;
    font-size: 1.2rem;
  }
  .main-faq .faq ul li i:hover {
    transform: scale(1) rotate(225deg) !important;
    border-bottom: 4px solid #333333 !important;
    border-right: 4px solid #333333 !important;
  }
  /****************************************************************************************************
                                            EQUIPE
****************************************************************************************************/
  .close-equipe {
    display: block;
    width: 30px;
    height: 30px;
    position: absolute;
    right: 10px;
    top: 20px;
  }
  .close-equipe::before {
    width: 30px;
    height: 2px;
    background: #333333;
    content: " ";
    position: absolute;
    transform: rotate(45deg);
  }
  .close-equipe::after {
    width: 30px;
    height: 2px;
    background: #333333;
    content: " ";
    position: absolute;
    transform: rotate(135deg);
  }
  .equipe-bg {
    background-attachment: initial;
  }
  .equipe-bg .equipe {
    flex-direction: column;
  }
  .equipe-bg .equipe article {
    padding: 2vw;
    width: 100%;
  }
  .equipe-bg .equipe article .img-equipe img {
    width: 100%;
  }
  .equipe-bg .equipe article .content-equipe {
    left: 0;
  }
  .equipe-bg .equipe article .content-equipe h4:first-of-type {
    margin-top: 40px;
  }
  .equipe-bg .equipe article:nth-of-type(2) .content-equipe {
    text-align: left;
  }
  .block-text-vis .wrap {
    flex-direction: column;
  }
  .block-text-vis .wrap .titre-left {
    text-align: left;
    flex: 1;
    margin-right: 0;
  }
  .block-text-vis .wrap .text-right {
    text-align: left;
    flex: 1;
    margin-right: 0;
  }
  /****************************************************************************************************
                                                Finanacement
****************************************************************************************************/
  .content-financement h2 {
    font-size: 20px;
  }
  .content-financement .vis-a-vis {
    flex-direction: column;
  }
  .content-bis-financement .wrap h2 {
    font-size: 20px;
  }
  .content-bis-financement .wrap .triple-colones {
    flex-direction: column;
  }
  .content-bis-financement .wrap .triple-colones article {
    padding: 0;
  }
  .content-bis-financement .wrap .triple-colones article h3 {
    font-size: 18px;
  }
  .content-bis-financement .wrap .quatre-colones .content-quatre-colones {
    flex-direction: column;
  }
  .content-bis-financement .wrap .quatre-colones .content-quatre-colones section {
    text-align: center;
  }
  /****************************************************************************************************
                                            Contact
****************************************************************************************************/
  .contact-map {
    padding-top: 50px;
  }
  .contact-map .contact {
    width: 100%;
    height: 50vh;
  }
  .contact-map .contact h1 {
    margin-top: 50px;
    font-size: 2em;
  }
  .contact-map .map {
    width: 100%;
    height: 50vh;
  }
  .form-img .form {
    margin: 20px;
  }
  .form-img .form form {
    margin: 20px;
  }
  .lien-agence {
    padding: 10vh 0;
  }
  .lien-agence a h2 {
    font-size: 18px;
    margin: 0 50px;
  }
}
/****************************************************************************************************
                                    Fin Mediaqueries Mobile
****************************************************************************************************/
/****************************************************************************************************
                                        MediaqueriesTablette
****************************************************************************************************/
@media screen and (min-width: 541px) and (max-width: 1023px) {
  .pad-g {
    padding-left: 30px;
    padding-right: 30px;
  }
  p {
    font-size: 14px;
  }
  .control-video {
    display: none;
  }
  /*************************************************************************
                                    Menu
**************************************************************************/
  .reseauxTop {
    display: none;
  }
  .navTop .navControls-navTop ul li:nth-of-type(2) {
    display: none;
  }
  .navTop .logo-navTop img {
    width: 60px;
  }
  .menuNav .ul-menuNav {
    display: none;
  }
  .menuNav .btnMenuOverlay-menuNav {
    display: block;
  }
  .menuOverlay {
    justify-content: start;
    padding: 0 20px;
    right: -100%;
    width: 50%;
    left: auto;
    background: #f3f3f3;
  }
  .menuOverlay header {
    margin: 30px 0px;
  }
  .menuOverlay header strong {
    display: block;
  }
  .menuOverlay header strong::after {
    display: none;
  }
  .menuOverlay .croix {
    display: block;
    height: 2px;
    width: 30px;
    transform: rotate(45deg);
    background: black;
    position: absolute;
    right: 20px;
    top: 40px;
    z-index: 10007;
  }
  .menuOverlay .croix::after {
    content: " ";
    background: black;
    width: 30px;
    height: 2px;
    transform: rotate(90deg);
    position: absolute;
  }
  .menuOverlay .bodyMenuOverlay {
    margin: 0 20px;
  }
  .menuOverlay .bodyMenuOverlay ul {
    flex-direction: column;
  }
  .menuOverlay .bodyMenuOverlay ul li {
    text-align: left;
    margin: 10px;
    font-weight: 200;
    font-size: 24px;
  }
  .menuOverlay .bodyMenuOverlay ul li ul.subMenu {
    display: none;
  }
  .menuOverlay footer {
    justify-content: flex-start;
    margin-top: 50px;
  }
  .menuOverlay footer .social p {
    display: none;
  }
  .menuOverlay footer .social .socialBar ul li {
    margin-right: 15px;
  }
  header .navTop {
    margin: 4vh 0;
  }
  /*******************************PARALLAX**************************/
  .parallax-container {
    position: relative;
    height: 60vh;
  }
  .parallax {
    position: relative;
    height: 60vh !important;
    width: 100%;
    z-index: 0;
    top: 0;
  }
  /**************************TITRES*******************************/
  .titreBg {
    margin: 0 0 170px 0;
  }
  .img-in-h1 {
    height: 30px;
    margin-left: 5px;
  }
  .titre {
    padding-top: 15vh;
    height: auto;
  }
  .titre h1 {
    font-size: 30px;
  }
  .titre h1 span {
    padding-top: 0;
  }
  .titre .next {
    position: absolute;
    left: 20px;
    padding-top: 20px;
  }
  .titre .next img {
    position: relative;
    bottom: 0;
    left: 0;
  }
  /**************************Slider*******************************/
  .slider1 .sliderImg .main-carousel {
    height: 60vh;
  }
  .slider1 .sliderImg .main-carousel .carousel-cell {
    height: 60vh;
  }
  .slider1 .sliderImg .main-carousel .carousel-cell .carousel-cell-image {
    display: block;
    position: relative;
    height: 60vh;
  }
  .slider1 .sliderImg .main-carousel .carousel-cell .description {
    margin: 10px;
  }
  .slider1 .sliderImg .main-carousel .carousel-cell .description h2 {
    font-size: 24px;
  }
  .slider1 .sliderImg .main-carousel .carousel-cell .description h2 span {
    top: -3px;
  }
  /***********************formationenQuatresPoints*****************/
  .formationEnQuatresPoints div:first-child article {
    width: 100%;
    text-align: center;
  }
  /***************************VIDEO*********************************/
  #video-acc #video-fond {
    position: relative;
  }
  #video-acc #video-fond::after {
    position: absolute;
    content: " ";
    width: 50px;
    height: 50px;
    background: #4ff4ff;
    border-radius: 50%;
    top: 50%;
    left: 50%;
    z-index: 120;
  }
  /***************************OFFRES******************************/
  .formation {
    flex-direction: column;
  }
  .formation article {
    width: 100%;
  }
  /*************************ATELIER*********************************/
  .atelier {
    flex-direction: column;
  }
  .atelier div {
    width: 100%;
    padding: 20px;
  }
  .atelier .left {
    margin-left: 0;
  }
  /*************************REALISER*******************************/
  .realiser .wrap {
    flex-direction: column;
  }
  .realiser .wrap .img-real {
    margin: 0;
    width: 100%;
  }
  .realiser .wrap .text-real {
    margin: 20px 0 0 0;
    width: 100%;
  }
  /*************************temoignage*******************************/
  .temoignages .main-carousel {
    height: auto;
  }
  .temoignages .main-carousel .flickity-button {
    display: none;
  }
  .temoignages .main-carousel .carousel-cell {
    padding: 0;
  }
  .temoignages .main-carousel .flickity-page-dots {
    bottom: auto;
    padding-top: 30px;
  }
  /*****************************Footer*******************************/
  footer.pad-g {
    padding: 50px 10px;
  }
  /****************************************************************************************************
                                            Concept
****************************************************************************************************/
  .nousSommes {
    padding-top: 10vh;
    padding-bottom: 10vh;
  }
  .nousSommes section {
    width: 90%;
  }
  .nousSommes section h2 {
    font-size: 24px;
  }
  .personnes {
    flex-direction: column;
    align-items: center;
  }
  .personnes article:first-child {
    margin-bottom: 100px;
  }
  /****************************************************************************************************
                                        FAQ pages
****************************************************************************************************/
  .sideBar {
    display: none;
  }
  .main-faq .faq ul li {
    max-height: 80px;
  }
  .main-faq .faq ul li h4 {
    width: 95%;
  }
  .main-faq .faq ul li i:hover {
    transform: scale(1) rotate(225deg) !important;
    border-bottom: 4px solid #333333 !important;
    border-right: 4px solid #333333 !important;
  }
  /****************************************************************************************************
                                            Formations
****************************************************************************************************/
  .formation {
    flex-direction: column;
  }
  /****************************************************************************************************
                                        Formations Pages
****************************************************************************************************/
  .titre2 {
    padding-top: 20vh;
  }
  .image-formation img {
    width: 30%;
  }
  .text-principale .wrap {
    flex-direction: column;
  }
  .text-principale .wrap .corp {
    margin-right: 0;
  }
  .text-principale .wrap .corp ol li {
    font-size: 14px;
  }
  .text-principale .wrap .corp .t-n-2 {
    font-size: 1.2em;
  }
  .text-principale .wrap .image-text-principale img {
    display: none;
  }
  .personnalisable .wrap article {
    width: 90%;
  }
  .personnalisable .wrap article .atelier-corp ul {
    flex-direction: column;
  }
  /****************************************************************************************************
                                            EQUIPE
****************************************************************************************************/
  .equipe-bg .equipe article {
    padding: 2vw;
  }
  .equipe-bg .equipe article .img-equipe h3 {
    font-size: 1.5rem;
  }
  .equipe-bg .equipe article .content-equipe h4 {
    margin-top: 20px;
    margin-bottom: 10px;
  }
  .equipe-bg .equipe article .content-equipe h4:first-of-type {
    margin-top: 0;
  }
  /****************************************************************************************************
                                                Finanacement
****************************************************************************************************/
  .content-financement h2 {
    font-size: 20px;
  }
  .content-financement .vis-a-vis {
    flex-direction: column;
  }
  .content-bis-financement .wrap h2 {
    font-size: 20px;
  }
  .content-bis-financement .wrap .triple-colones {
    flex-direction: column;
  }
  .content-bis-financement .wrap .triple-colones article {
    padding: 0;
  }
  .content-bis-financement .wrap .triple-colones article h3 {
    font-size: 18px;
  }
  .content-bis-financement .wrap .quatre-colones .content-quatre-colones {
    flex-direction: column;
  }
  .content-bis-financement .wrap .quatre-colones .content-quatre-colones section {
    text-align: center;
  }
  /****************************************************************************************************
                                            Contact
****************************************************************************************************/
  .contact-map {
    padding-top: 50px;
  }
  .contact-map .contact {
    width: 100%;
    height: 50vh;
  }
  .contact-map .map {
    width: 100%;
    height: 50vh;
  }
  .form-img .form {
    margin: 20px;
  }
  .form-img .form form {
    margin: 20px;
  }
  .lien-agence {
    padding: 10vh 0;
  }
  .lien-agence a h2 {
    font-size: 30px;
    margin: 0 50px;
  }
}
/****************************************************************************************************
                                        Fin Mediaqueries Tablette
    ****************************************************************************************************/
