/*

Format: less
Site: seelab-formation.fr
Dev: robin moquet
Date: 06 avril 2018
Mediaqueries: 1.0.0

*/


/****************************************************************************************************
                                            Variable
****************************************************************************************************/

@greyDark: #333333;
@blue: #4ff4ff;
@grey: rgb(243, 243, 243);
@jaune: #FFD03B;
@color1: #E1E1C4;
@color2: #E6D6BD;
@color3: #C6DEC8;
@color4: #4ff4ff;
@fondFor: #f4f0e7;
@indesign: #ff408c;
@wp: #5582c2;
@photoshop: #31c5f0;
@illustrator: #ff7f18;
@faq: white;




/****************************************************************************************************
                                        Mediaqueries Mobile
****************************************************************************************************/

@media screen and (max-width: 540px){


    .pad-g{
        padding-left: 10px;
        padding-right: 10px;
    }
    p{
        font-size: 14px;
    }

    .control-video{
        display: none;
    }


/****************************************************************************************************
                                            Parallax
****************************************************************************************************/


// .content {
//     //height: 600px;
//     background: red;
//     position: relative;
//     z-index: 1;
//   }
  
  .parallax-container {
    position: relative;
    height: 60vh;
  }
  
  .parallax {
    position: relative;
    height: 60vh !important;
    width: 100%;
    z-index: 0;
    top: 0;
  }






/*************************************************************************
                                    Generalité
**************************************************************************/


.titre3{
    height: 60vh;
    .wrap{
        height: 60vh;
    }
}

/*************************************************************************
                                    Menu
**************************************************************************/

.reseauxTop{
    display: none;
}

.navTop .navControls-navTop ul li:nth-of-type(2){
    display: none;
}

.navTop{
    .logo-navTop img{
        width: 60px;
    }//logo-navTop
}//navTop

.menuNav{
    .ul-menuNav{
        display: none;
    }
    .btnMenuOverlay-menuNav{
        display: block;
    }
}//menuNav

.menuOverlay{
    justify-content: start;
    padding: 0 20px;
    right: -100%;
    left: auto;
    background: @grey;
    header{
       margin: 30px 0px;
       strong{
           display: block;
           &::after{
               display: none;
           }
       }
    }//header

    .croix{
        display: block;
        height: 2px;
        width: 30px;
        transform: rotate(45deg);
        background: black;
        position: absolute;
        right: 20px;
        top: 40px;
        z-index: 10007;

        &::after{
            content: " ";
            background: black;
            width: 30px;
            height: 2px;
            transform: rotate(90deg);
            position: absolute;
        }//after
    }//croix

    .bodyMenuOverlay{
        margin: 0 20px;
        ul{
            flex-direction: column;
            li{
                text-align: left;
                margin: 10px;
                font-weight: 200;
                font-size: 24px;
                ul.subMenu{
                    display: none;
                }
            }//li
        }//ul
    }//bodyMenuOverlay
    footer{
        justify-content: flex-start;
        margin-top: 50px;
        .social{
            p{
                display: none;
            }//p
            .socialBar{
                ul li{
                    margin-right: 15px;
                }// ul li
            }//socialBar
        }//social
    }//footer
}//menuOverlay

header{
    .navTop{
        margin: 4vh 0;
    }
}

/**************************TITRES*******************************/

.titreBg{
    padding: 0 0 100px 0;
}

.img-in-h1{
    height: 20px;
    margin-left: 5px;
}

.datadock{
    width: 30%;
    margin-top: 30px;
}

.titre{
    padding-top: 150px;
    height: auto;
    //margin: 0 0 100px 0;
    h1{
        font-size: 20px;
        span{
            padding-top: 0;
        }
    }//h1
    .next{
        position: absolute;
        left: 20px;
        padding-top: 20px;
        img{
            position: relative;
            bottom: 0;
            left: 0;
        }
    }
}

/**************************Slider*******************************/
.slider1{
    .sliderImg{
        .main-carousel{
            .flickity-viewport{
                height: 60vh !important;
            }
            height: 60vh;
            .carousel-cell{
                .carousel-cell-image{
                    display: block;
                    position: relative;
                }
                .description{
                    margin: 10px;
                    h2{
                        font-size: 24px;
                        span{
                            top: -3px;
                        }//span
                    }//h2
                }//description
            }//carousel-cell
        }//main-carousel
    }//sliderImg
}//slider1

/***********************formationenQuatresPoints*****************/
.formationEnQuatresPoints{
    div:first-child{
        flex-direction: column;
        .text-ou{
            padding: 20px;
            width: 100%;
            article{
                text-align: justify;
            }
        }
        div:first-child{
            display: none;
        }
        article{
            width: 100%;
            text-align: center;
        }
    }
}//formation


/***************************VIDEO*********************************/



    #video-fond{
        position: relative;
        top: 0;
        #controle-vid{
            position: absolute;
            left: 50%;
            top: 50%;
            width: 80px;
            height: 80px;
            // background: black;
            z-index: 300;
            transform: translate(-50%, -50%);
            
            &::after{
                position: absolute;
                content: " ";
                width: 0px;
                height: 0px;
                top: 50%;
                left: 50%;
                transform: rotate(90deg) translate(-46%, 50%);
                border-left: 18px solid transparent;
                border-right: 18px solid transparent;
                border-bottom: 30px solid white;
               
            }
            &::before{
                position: absolute;
                content: " ";
                width: 70px;
                height: 70px;
                top: 50%;
                left: 50%;
                background: @blue;
                opacity: 0.7;
                border-radius: 50%;
                transform:  translate(-50%, -50%);
            }
        }
    }


/***************************OFFRES******************************/

.formation{
    flex-direction: column;
    article{
        width: 100%;
    }
}


/*************************ATELIER*********************************/
.titre3{
    background-attachment: initial;
}
.atelier{
    flex-direction: column;
    background-attachment: initial;
    div{
        width: 100%;
        padding: 20px;
    }//div
    .left{
        margin-left: 0;
    }//left
}//atelier


/*************************REALISER*******************************/

.realiser{
    .real-flex{
        flex-direction: column;
        .img-real{
            margin: 0;
            width: 100%;
        }
        .text-real{
            margin: 20px 0 0 0;
            width: 100%;
            padding: 20px;
        }
    }
}

/*************************temoignage*******************************/
.temoignages{
    .main-carousel{
        height: 40vh;
        .flickity-button {
           display: none;
          }
          .carousel-cell{
              padding: 0;
          }
          .flickity-page-dots{
              bottom: auto;
              padding-top: 30px;
          }
    }//main-carousel
}//temoignages

/*************************Agence*******************************/

.agence{
    margin-top: 60px;
    .wrap{
        width: 100%;
        padding: 50px 20px 20px;
        
        h6{
            font-size: 1.5rem;
        }
    }
}


/*****************************Footer*******************************/
footer.pad-g{
    padding: 50px 10px;
    .top{
        display: none;
    }
    text-align: center;
}


/****************************************************************************************************
                                            Concept
****************************************************************************************************/

.nousSommes{
    padding-top: 10vh;
    padding-bottom: 10vh;
    section{
        width: 90%;
        h2{
            font-size: 24px;
        }//h2
    }//section
}//nous sommes

.personnes{
    flex-direction: column;
    align-items: center;
    article:first-child{
        margin-bottom: 100px;
    }
}//personnes



/****************************************************************************************************
                                            Formations
****************************************************************************************************/

#video-fond{
    background: url(../img/contact-img.jpg)no-repeat center center;
    background-size: cover;
    #myVideo{
        margin-top: -20vh;
    }
}

.formation{
    flex-direction: column;
}


/****************************************************************************************************
                                        Formations Pages
****************************************************************************************************/

.titre2{
    padding-top: 20vh;
    h1{
        font-size: 1.5rem;
    }
    .socialBar{
        margin-top: 20px;
    }
}

.titreFor .wrap{
    h1{
        font-size: 2.3rem;
    }
    p{
        font-size: 1.3rem;
    }
}


.six-bloc{
    .wrap{
        .triple-bloc{
            flex-direction: column;
            article{
                width: 100%;
            }
        }
    }
}

.image-formation{
    background-attachment: scroll;
    img{
        width: 50%;
    }
}

.text-principale{
    .wrap{
        flex-direction: column;
        .corp{
            .t-n-2{
                font-size: 1.1em;
            }
            margin-right: 0;
            ol li{
                font-size: 14px;
            }
        }
        .image-text-principale{
            display: none;
        }
    }
}

.tarifs{
    .wrap{
        .offres-tarifs{
            flex-direction: column;
            div{
                margin: 20px;
            }
        }
    }
}
.tarif-atelier{
    flex-direction: column;
    div{
        width: 100%;
    }
}

.personnalisable{
    background-attachment: scroll;
    .wrap{
        article{
            width: 90%;
            i{
                display: none;
            }
            .atelier-corp{
                ul{
                    flex-direction: column; 
                }
            }
        }
    }
}


/*************************************************************************
                                    Ateliers
**************************************************************************/

.bg-color{
    .ateliers-text .wrap p{
        font-size: 20px;
    }
}

.ateliers{
    .triple-bloc{
        flex-direction: column;
        article{
            width: 100%;
        }
    }
}



/*************************************************************************
                                    Atelier
**************************************************************************/

.btn-fixe-resa a{
    bottom: 0;
    width: 100%;
    top: auto;
    border-left: none;
    border-top: 5px solid @jaune;
    justify-content: center;
}

.bonnes-rai{
    .bonnes-rai-h{
        font-size: 1em;
        strong{
            font-size: 1.5em;
        }
    }
    .flex-trois{
        flex-direction: column;
        article{
            width: 100%;
        }
    }
}

/*********************CALENDRIER*********************/

.calendrier{
    ul li{
        header{
            .cl-date{
                h2{
                    font-size: 24px;
                }//h2
                h6{
                    font-size: 15px;
                }
            }//cl-date
            .cl-titre h2{
                font-size: 24px;
            }//cl-titre
        }//header
    }//ul li
}//calendrier


/****************************************************************************************************
                                        FAQ pages
****************************************************************************************************/


.titre3{
    .wrap{
        .contenu{
            h1{
                font-size: 1.5rem;
            }
        }
    }
}

.sideBar{
    display: none;
}

.main-faq{
    .faq{
        ul{
            li{
                max-height: 100px;
                h4{
                    width: 90%;
                    font-size: 1.2rem;
                }
                i:hover{
                    transform: scale(1) rotate(225deg) !important;
                    border-bottom: 4px solid @greyDark !important;
                    border-right: 4px solid @greyDark !important;
                }
            }
        }
    }
}




/****************************************************************************************************
                                            EQUIPE
****************************************************************************************************/

.close-equipe{
    display: block;
    width: 30px;
    height: 30px;
    //background: red;
    position: absolute;
    right: 10px;
    top: 20px;

    &::before{
        width: 30px;
        height: 2px;
        background: @greyDark;
        content: " ";
        position: absolute;
        transform: rotate(45deg);
    }
    &::after{
        width: 30px;
        height: 2px;
        background: @greyDark;
        content: " ";
        position: absolute;
        transform: rotate(135deg);
    }
}

.equipe-bg{
    background-attachment: initial;
    .equipe{
        flex-direction: column;
        article{
            padding: 2vw;
            width: 100%;
            .img-equipe img{
                width: 100%;
            }
            .content-equipe{
                left: 0;
                h4:first-of-type{
                    margin-top: 40px;
                }
            }
        }//article
        article:nth-of-type(2){
            .content-equipe{
                text-align: left;
            }
        }
    }
}

.block-text-vis .wrap{
    flex-direction: column;
    .titre-left{
        text-align: left;
        flex: 1;
        margin-right: 0;
    }
    .text-right{
        text-align: left;
        flex: 1;
        margin-right: 0;
    }
}



/****************************************************************************************************
                                                Finanacement
****************************************************************************************************/


.content-financement{
    h2{
        font-size: 20px;
    }
    .vis-a-vis{
        flex-direction: column;
    }//vis-a-vis
}//.content-financement

.content-bis-financement{
    .wrap{
        h2{
            font-size: 20px;
        }
        .triple-colones{
            flex-direction: column;
            article{
                padding: 0;
                h3{
                    font-size: 18px;
                }
            }
        }//triple-colones
        .quatre-colones{
            .content-quatre-colones{
                flex-direction: column;
                section{
                    text-align: center;
                }
            }
        }//quatre-colones
    }//wrap
}//.content-bis-financement




/****************************************************************************************************
                                            Contact
****************************************************************************************************/

.contact-map{
    padding-top: 50px;
    .contact{
        width: 100%;
        height: 50vh;
        h1{
            margin-top: 50px;
            font-size: 2em;
        }
    }
    .map{
        width: 100%;
        height: 50vh;
    }
}//contact-map

.form-img{
    
    .form{
        margin: 20px;
        form{
            margin: 20px;
        }//form
    }//form
}//form img

.lien-agence{
    padding: 10vh 0;
    a h2{
        font-size: 18px;
        margin: 0 50px;
    }
}


}//mediaqueries mobile

/****************************************************************************************************
                                    Fin Mediaqueries Mobile
****************************************************************************************************/



/****************************************************************************************************
                                        MediaqueriesTablette
****************************************************************************************************/

@media screen and (min-width: 541px) and (max-width: 1023px){

    
    .pad-g{
        padding-left: 30px;
        padding-right: 30px;
    }
    p{
        font-size: 14px;
    }

    .control-video{
        display: none;
    }
/*************************************************************************
                                    Menu
**************************************************************************/

.reseauxTop{
    display: none;
}

.navTop .navControls-navTop ul li:nth-of-type(2){
    display: none;
}

.navTop{
    .logo-navTop img{
        width: 60px;
    }//logo-navTop
}//navTop

.menuNav{
    .ul-menuNav{
        display: none;
    }
    .btnMenuOverlay-menuNav{
        display: block;
    }
}//menuNav

.menuOverlay{
    justify-content: start;
    padding: 0 20px;
    right: -100%;
    width: 50%;
    left: auto;
    background: @grey;
    header{
       margin: 30px 0px;
       strong{
           display: block;
           &::after{
               display: none;
           }
       }
    }//header

    .croix{
        display: block;
        height: 2px;
        width: 30px;
        transform: rotate(45deg);
        background: black;
        position: absolute;
        right: 20px;
        top: 40px;
        z-index: 10007;

        &::after{
            content: " ";
            background: black;
            width: 30px;
            height: 2px;
            transform: rotate(90deg);
            position: absolute;
        }//after
    }//croix

    .bodyMenuOverlay{
        margin: 0 20px;
        ul{
            flex-direction: column;
            li{
                text-align: left;
                margin: 10px;
                font-weight: 200;
                font-size: 24px;
                ul.subMenu{
                    display: none;
                }
            }//li
        }//ul
    }//bodyMenuOverlay
    footer{
        justify-content: flex-start;
        margin-top: 50px;
        .social{
            p{
                display: none;
            }//p
            .socialBar{
                ul li{
                    margin-right: 15px;
                }// ul li
            }//socialBar
        }//social
    }//footer
}//menuOverlay

header{
    .navTop{
        margin: 4vh 0;
    }
}

/*******************************PARALLAX**************************/

.parallax-container {
    position: relative;
    height: 60vh;
  }
  
  .parallax {
    position: relative;
    height: 60vh !important;
    width: 100%;
    z-index: 0;
    top: 0;
  }


    /**************************TITRES*******************************/
.titreBg{margin: 0 0 170px 0;}

.img-in-h1{
    height: 30px;
    margin-left: 5px;
}
.titre{
    padding-top: 15vh;
    height: auto;
    //margin: 0 0 170px 0;
    h1{
        font-size: 30px;
        span{
            padding-top: 0;
        }
    }//h1
    .next{
        position: absolute;
        left: 20px;
        padding-top: 20px;
        img{
            position: relative;
            bottom: 0;
            left: 0;
        }
    }
}

/**************************Slider*******************************/
.slider1{
    .sliderImg{
        .main-carousel{
            height: 60vh;
            .carousel-cell{
                height: 60vh;
                .carousel-cell-image{
                    display: block;
                    position: relative;
                    height: 60vh;
                }
                .description{
                    margin: 10px;
                    h2{
                        font-size: 24px;
                        span{
                            top: -3px;
                        }//span
                    }//h2
                }//description
            }//carousel-cell
        }//main-carousel
    }//sliderImg
}//slider1

/***********************formationenQuatresPoints*****************/
.formationEnQuatresPoints{
    div:first-child{
        article{
            width: 100%;
            text-align: center;
        }
    }
}//formation

/***************************VIDEO*********************************/

#video-acc{
    #video-fond{
        position: relative;
        &::after{
            position: absolute;
            content: " ";
            width: 50px;
            height: 50px;
            background: @blue;
            border-radius: 50%;
            top: 50%;
            left: 50%;
            z-index: 120;
        }
    }
}

/***************************OFFRES******************************/

.formation{
    flex-direction: column;
    article{
        width: 100%;
    }
}

/*************************ATELIER*********************************/
.atelier{
    flex-direction: column;
    div{
        width: 100%;
        padding: 20px;
    }//div
    .left{
        margin-left: 0;
    }//left
}//atelier

/*************************REALISER*******************************/

.realiser{
    .wrap{
        flex-direction: column;
        .img-real{
            margin: 0;
            width: 100%;
        }
        .text-real{
            margin: 20px 0 0 0;
            width: 100%;
        }
    }
}


/*************************temoignage*******************************/
.temoignages{
    .main-carousel{
        height: auto;
        .flickity-button {
           display: none;
          }
          .carousel-cell{
              padding: 0;
          }
          .flickity-page-dots{
              bottom: auto;
              padding-top: 30px;
          }
    }//main-carousel
}//temoignages


/*****************************Footer*******************************/
footer.pad-g{
    padding: 50px 10px;
}


/****************************************************************************************************
                                            Concept
****************************************************************************************************/

.nousSommes{
    padding-top: 10vh;
    padding-bottom: 10vh;
    section{
        width: 90%;
        h2{
            font-size: 24px;
        }//h2
    }//section
}//nous sommes

.personnes{
    flex-direction: column;
    align-items: center;
    article:first-child{
        margin-bottom: 100px;
    }
}//personnes

/****************************************************************************************************
                                        FAQ pages
****************************************************************************************************/

.sideBar{
    display: none;
}

.main-faq{
    .faq{
        ul{
            li{
                max-height: 80px;
                h4{
                    width: 95%;
                }
                i:hover{
                    transform: scale(1) rotate(225deg) !important;
                    border-bottom: 4px solid @greyDark !important;
                    border-right: 4px solid @greyDark !important;
                }
            }
        }
    }
}





/****************************************************************************************************
                                            Formations
****************************************************************************************************/

.formation{
    flex-direction: column;
}

/****************************************************************************************************
                                        Formations Pages
****************************************************************************************************/

.titre2{
    padding-top: 20vh;
}



.image-formation{
    img{
        width: 30%;
    }
}

.text-principale{
    .wrap{
        flex-direction: column;
        .corp{
            margin-right: 0;
            ol li{
                font-size: 14px;
            }
            .t-n-2{
                font-size: 1.2em;
            }
        }
        .image-text-principale{
            img{
                display: none;
            }
        }
    }
}

.personnalisable{
    .wrap{
        article{
            width: 90%;
            .atelier-corp{
                ul{
                    flex-direction: column; 
                }
            }
        }
    }
}



/****************************************************************************************************
                                            EQUIPE
****************************************************************************************************/

.equipe-bg{
    .equipe{
        article{
            padding: 2vw;
            .img-equipe{
                h3{
                    font-size: 1.5rem;
                }
            }
            .content-equipe{
                h4{
                    margin-top: 20px;
                    margin-bottom: 10px;
                }
                h4:first-of-type{
                    margin-top: 0;
                }
            }
        }
    }
}



/****************************************************************************************************
                                                Finanacement
****************************************************************************************************/


.content-financement{
    h2{
        font-size: 20px;
    }
    .vis-a-vis{
        flex-direction: column;
    }//vis-a-vis
}//.content-financement

.content-bis-financement{
    .wrap{
        h2{
            font-size: 20px;
        }
        .triple-colones{
            flex-direction: column;
            article{
                padding: 0;
                h3{
                    font-size: 18px;
                }
            }
        }//triple-colones
        .quatre-colones{
            .content-quatre-colones{
                flex-direction: column;
                section{
                    text-align: center;
                }
            }
        }//quatre-colones
    }//wrap
}//.content-bis-financement







/****************************************************************************************************
                                            Contact
****************************************************************************************************/

.contact-map{
    padding-top: 50px;
    .contact{
        width: 100%;
        height: 50vh;
    }
    .map{
        width: 100%;
        height: 50vh;
    }
}//contact-map

.form-img{
    
    .form{
        margin: 20px;
        form{
            margin: 20px;
        }//form
    }//form
}//form img

.lien-agence{
    padding: 10vh 0;
    a h2{
        font-size: 30px;
        margin: 0 50px;
    }
}
    
    }//mediaqueries mobile
    
    /****************************************************************************************************
                                        Fin Mediaqueries Tablette
    ****************************************************************************************************/
    