/*

Format: less
Site: seelab-formation.fr
Dev: robin moquet
Date: 06 avril 2018

*/


/****************************************************************************************************
                                            Variable
****************************************************************************************************/

@greyDark: #333333;
@blue: #4ff4ff;
@grey: rgb(243, 243, 243);
@jaune: #FFD03B;
@color1: #E1E1C4;
@color2: #E6D6BD;
@color3: #C6DEC8;
@color4: #4ff4ff;
@fondFor: #f4f0e7;
@indesign: #ff408c;
@wp: #5582c2;
@photoshop: #31c5f0;
@illustrator: #ff7f18;
@faq: white;





/****************************************************************************************************
                                        Remise a zero
****************************************************************************************************/

*:focus{
    outline: none;
}
*, *::before, *::after{
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}




/****************************************************************************************************
                                            Generalitees
****************************************************************************************************/

*,*::after,*::before{
    box-sizing: border-box;
}

body{
    font-family: 'Raleway', sans-serif;
    color: @greyDark;
}

a{
    color: @greyDark;
    text-decoration: none;
    transition: color 0.5s ease;

    &:hover{
        color: @jaune;
    }//hover
}

.pad-g{
    padding-left: 50px;
    padding-right: 50px;
}

h1{
    font-size: 2.5em;
    font-weight: 800;
    text-align: center;
    padding-bottom: 30px;
    strong{
        color: @jaune;
        font-weight: 800;
    }
    
    span{
        display: block;
        padding-top: 10px;
    }
}//h1

h2{
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 30px;
}

h3{
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 10px;
}//h3

p{
    line-height: 1.5em;
    margin-bottom: 10px;
}

h4{
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 20px;
}

h6{
    font-size: 20px;
    font-weight: 700;
}

.p-20{
    font-size: 20px;
}

#top{
    position: absolute;
    top: 0;
}

.wrap{
    max-width: 1500px;
    margin: 0 auto;
}

.t-n-2{
    font-size: 1.3em;
}

ol{
margin-top: 10px;
padding-left: 17px;
    li{
        line-height: 1.5rem;
        list-style-type: square;
    }
}

div.bouton{
    //padding: 20px;
    opacity: 1;
    width: 180px;
    height: 60px;
    margin: 40px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.5s ease;
    a{
        padding: 20px;
        position: relative;
        z-index: 100;
    }

    &::before{
        content: " ";
        position: absolute;
        width: 180px;
        height: 60px;
        border-radius: 3%;
        opacity: 1;
        transition: all 0.3s ease;
    }

    &::after{
        content: " ";
        position: absolute;
        width: 160px;
        height: 40px;
        border-radius: 3%;
        opacity: 0;
        transition: all 0.3s ease;
    }

    &:hover{

        &::before{
            width: 200px;
            height: 80px;
            opacity: 0;;
        }//before
        
        &::after{
            width: 180px;
            height: 60px;
            opacity: 1;
        }//after
    }//hover bouton
}//bouton
div.bouton{
    a:hover{
        color: @greyDark;
    }
   
    &::before{
        border: 3px solid @greyDark;
    }

    &::after{
        border: 3px solid @greyDark;
    }
}

.control-video{
    position: absolute;
    top: 150px;
    right: 50px;
    z-index: 10000;
    svg{
        display: block;
        margin: 10px;
        font-size: 25px;
        color: @greyDark;
        transition: all 0.3s ease;

        &:hover{
            cursor: pointer;
            color: @jaune;
        }

    }
}


/****************************************************************************************************
                                            Parallax
****************************************************************************************************/


.content {
    //height: 600px;
    
    position: relative;
    z-index: 1;
  }
  
  .parallax-container {
    position: relative;
    height: 100vh;
  }
  
  .parallax {
    position: relative;
    height: 100.1vh !important;
    width: 100%;
    z-index: 0;
    top: -25vh;
  }




/****************************************************************************************************
                                            Couleurs
****************************************************************************************************/

body.faq{
    .navTop a{
        color: @faq;
        i{
            color: @faq; 
        }
    }
}//body

body.indesign{
    .navTop a{
        color: @indesign;
        i{
            color: @indesign; 
        }
    }
    .menuOverlay{
        .bodyMenuOverlay a{
            color: @indesign;
        }
        header p{
            color: @indesign;
            strong::after{
                background: @indesign;
            }
        }
        footer{
            color: @indesign;
            .socialBar a{
                color: @indesign;
            }
        }
    }
    .menuNav a {
        color: @indesign;
    }

    footer p{
        color: @indesign;
    }
    footer p a{
        color: @indesign;
    }
    footer .top a::before{
        border-color: @indesign;
    }
    footer .top a::after{
        border-color: @indesign;
    }

    .imgFor svg{
        color: @indesign;
    }

    .six-bloc{
        i span::before{
            color: @indesign !important;
        }
    }

    .text-principale{
        .corp-first{
            border-color: @indesign;
        }
        .corp{
            border-color: @indesign;
        }
    } 
    
}//body

body.illustrator{
    .navTop a{
        color: @illustrator;
        i{
            color: @illustrator; 
        }
    }
    .menuOverlay{
        .bodyMenuOverlay a{
            color: @illustrator;
        }
        header p{
            color: @illustrator;
            strong::after{
                background: @illustrator;
            }
        }
        footer{
            color: @illustrator;
            .socialBar a{
                color: @illustrator;
            }
        }
    }
    .menuNav a {
        color: @illustrator;
    }

    footer p{
        color: @illustrator;
    }
    footer p a{
        color: @illustrator;
    }
    footer .top a::before{
        border-color: @illustrator;
    }
    footer .top a::after{
        border-color: @illustrator;
    }

    .imgFor svg{
        color: @illustrator;
    }
    
    .six-bloc{
        i span::before{
            color: @illustrator !important;
        }
    }
    .text-principale{
        .corp-first{
            border-color: @illustrator;
        }
        .corp{
            border-color: @illustrator;
        }
    } 
    
}//body

body.photoshop{
    .navTop a{
        color: @photoshop;
        i{
            color: @photoshop; 
        }
    }
    .menuOverlay{
        .bodyMenuOverlay a{
            color: @photoshop;
        }
        header p{
            color: @photoshop;
            strong::after{
                background: @photoshop;
            }
        }
        footer{
            color: @photoshop;
            .socialBar a{
                color: @photoshop;
            }
        }
    }
    .menuNav a {
        color: @photoshop;
    }

    footer p{
        color: @photoshop;
    }
    footer p a{
        color: @photoshop;
    }
    footer .top a::before{
        border-color: @photoshop;
    }
    footer .top a::after{
        border-color: @photoshop;
    }

    .imgFor svg{
        color: @photoshop;
    }

    .six-bloc{
        i span::before{
            color: @photoshop !important;
        }
    }
    .text-principale{
        .corp-first{
            border-color: @photoshop;
        }
        .corp{
            border-color: @photoshop;
        }
    } 
    
}//body


body.wp{
    .navTop a{
        color: @wp;
        i{
            color: @wp; 
        }
    }
    .menuOverlay{
        .bodyMenuOverlay a{
            color: @wp;
        }
        header p{
            color: @wp;
            strong::after{
                background: @wp;
            }
        }
        footer{
            color: @wp;
            .socialBar a{
                color: @wp;
            }
        }
    }
    .menuNav a {
        color: @wp;
    }

    footer p{
        color: @wp;
    }
    footer p a{
        color: @wp;
    }
    footer .top a::before{
        border-color: @wp;
    }
    footer .top a::after{
        border-color: @wp;
    }

    .imgFor svg{
        color: @wp;
    }

    .six-bloc{
        i span::before{
            color: @wp !important;
        }
    }
    .text-principale{
        .corp-first{
            border-color: @wp;
        }
        .corp{
            border-color: @wp;
        }
    } 
    
}//body

/****************************************************************************************************
                                            Animations
****************************************************************************************************/

@keyframes afterMove{
    0%{
        height: 80%;
        width: 3px;
        top: 5%;
    }
    50%{
        top: 0;
        height: 100%;
        width: 3px;
    }
    100%{
        top: 0;
        height: 100%;
        width: 100%;
    }
}


@keyframes rond{
    0%{
        opacity: 0;
        transform: scale(1.3);
    }
    25%{
        opacity: 1;
        transform: scale(1);
    }
    50%{
        opacity: 1;
        transform: scale(1);
    }
    75%{
        transform: scale(1);
    }
    100%{
        opacity: 0;
        transform: scale(1);
    }
}

@keyframes fleche{
    0%{
        opacity: 0;
        top: -100%;
    }
    25%{
        opacity: 0;
        top: -100%;
    }
    50%{
        opacity: 1;
        top: 50%;
    }
    75%{
        opacity: 1;
        top: 50%;
    }
    100%{
        opacity: 0;
        top: 50%;
    }
}

@keyframes flecheTop{
    0%{
        opacity: 0;
        top: 150%;
    }
    25%{
        opacity: 0;
        top: 150%;
    }
    50%{
        opacity: 1;
        top: 50%;
    }
    75%{
        opacity: 1;
        top: 50%;
    }
    100%{
        opacity: 0;
        top: 50%;
    }
}






/****************************************************************************************************
                                            Loader
****************************************************************************************************/

.loader{
    background: white;
    width: 100%;
    height: 100vh;
    position: fixed;
    z-index: 1111;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;

    img{
        width: 400px;
        height: 400px;
    }
}//loader



/****************************************************************************************************
                                            Réseaux top
****************************************************************************************************/

@keyframes slideReseauxTop{
    0%{
        width: 0%;
        left: 0%;
    }
    50%{
        width: 100%;
        left: 0%;
    }
    100%{
        width: 100%;
        left: 100%;
    }
}

.reseauxTop .links{
    width: 100%;
    height: 20vh;
    display: flex;
    background: rgba(255,255,255,1);
    justify-content: center;
    align-items: center;
    position: fixed;
    top: -300px;
    z-index: 10008;

    div{
        flex: 1;
        height: 20vh;
        position: relative;
        border-left: 1px solid white;
        border-right: 1px solid white;

        a{
            width: 100%;
            height: 20vh;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        svg{
            font-size: 25px;
            color: @greyDark;
            transition: color 0.5s ease;
        }//svg
        &::before{
            content: " ";
            position: absolute;
            bottom: 0;
            width: 100%;
            height: 10px;
            background: @greyDark;
        }//before
        &::after{
            content: " ";
            position: absolute;
            bottom: 0;
            width: 0%;
            height: 10px;
            left: 0;
        }//after
        &:hover::after{
            animation-name: slideReseauxTop;
            animation-duration: 1s;
        }
    }//div
    .facebook{
        &::after{
            background: #3b5998;
        }//after
        &:hover a svg{
            color: #3b5998;
        }
    }//facebook
    .instagram{
        &::after{
            background: #e95950;
        }//after
        &:hover a svg{
            color: #e95950;
        }
    }//instagram
    .twitter{
        &::after{
            background: #33CCFF;
        }//after
        &:hover a svg{
            color: #33CCFF;
        }
    }//twitter
    .linkedin{
        &::after{
            background: #0e76a8;
        }//after
        &:hover a svg{
            color: #0e76a8;
        }
    }//linkedin
}//reseauTop

.reseauxTop .close-reseauxTop{
    width: 100%;
    height: 80vh;
    z-index: 200000;
    position: fixed;
    bottom: 0;
}


/****************************************************************************************************
                                            Menu Overlay
****************************************************************************************************/

header{
    width: 100%;
}

.navTop{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 8vh;
    margin-bottom: 8vh;
    position: absolute;
    z-index: 10;
    width: 100%;
    left: 50%;
    transform: translateX(-50%);

    .logo-navTop{
        i{
            font-size: 80px;
        }
    }//logo-navTop

    .navControls-navTop{
        ul{
            display: flex;
            align-items: center;
            li{
                margin-left: 20px;
                font-size: 20px;
                font-weight: 500;
                
                i{
                    font-size: 40px;
                    transition: all 0.3s ease;
                    &:hover{
                        color: @jaune;
                    }
                }
            }//li
        }//ul
    }//navControls-navTop
}//navTop

.menuOverlay{
    position: fixed;
    width: 100%;
    height: 100vh;
    //background: @grey;
    top: 0;
    left: 0;
    padding: 0px 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    z-index: 1003;
    .before{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        border: 0px solid @grey;
        z-index: -1;
        transition: all 0.5s ease;
    }//before
    &:hover{
        cursor: url(../img/cursorClose.png), auto;
    }

    .croix{
        display: none;
    }//croix

    header{
        margin-left: -50px;
        margin-top: 10vh;
        transition: all 0.3s ease;
        strong{
            font-weight: 700;
            margin-right: 100px;
            position: relative;

            &::after{
                content: " ";
                width: 80px;
                height: 3px;
                background: @greyDark;
                position: absolute;
                top: 10px;
                margin-left: 8px;
            }//after
        }//strong
    }//header

    .bodyMenuOverlay{
        text-align: center;
        transition: all 0.3s ease;
        transform: scale(1.2);
        ul{
            display: flex;
            justify-content: space-around;

            li{
                font-size: 1.8vw;
                font-weight: 900;
                text-align: left;
                position: relative;
                ul.subMenu{
                    flex-direction: column;
                    position: absolute;
                    padding: 10px;
                    padding-left: 0;
                    margin-top: 10px;
                    text-align: left;
                    opacity: 0;
                    transition: all 0.3s ease;
                    li{
                        font-size: 20px;
                        font-weight: 400;
                        padding: 5px 2px 5px 0px;
                        overflow: hidden;
                        position: relative;

                        a{
                            padding: 5px 2px;
                           position: relative;
                           top: 23px;
                           transition: all 0.3s ease;
                           white-space: nowrap;
                        }
                    }//li
                }// submenu
            }//li
        }//ul
    }//body menu overlay

    footer{
        display: flex;
        justify-content: flex-end;
        margin-right: -50px;
        margin-bottom: 10vh;
        transition: all 0.3s ease;

        .social{
            display: flex;
            align-items: flex-end;

            p{
                text-transform: uppercase;
                font-size: 14px;
                margin-right: 10px;
                margin-bottom: 0;
            }

            .socialBar{
                cursor: pointer;
                ul{
                    display: flex;

                    li{
                        margin: 0px 7px;
                        svg{
                            font-size: 24px;
                        }//svg
                    }//li
                }//ul
            }//socialBar
        }//social
    }//footer
}//menu Overlay


/****************************************************************************************************
                                            Menu Nav
****************************************************************************************************/

.menuNav{
    position: fixed;
    top: -300px;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100px;
    background: white;
    z-index: 1002;
    transition: all 0.5s ease;

    .btnMenuOverlay-menuNav{
        display: none;
        a{
            font-size: 20px;
            font-weight: 500;
        }
    }

    .logo-menuNav{
        i{
            font-size: 120px;
        }
    }//logo menu nav

    .ul-menuNav{
        ul.item-menuNav{
            display: inline-block;
            vertical-align: middle;
            .lienReseauxTop i{
                font-size: 35px;
            }
            li{
                display: inline-block;
                vertical-align: middle;
                position: relative;
                margin-left: 1.33em;
                font-weight: 400;
                font-size: 18px;
                transition: all 0.3s ease;
                ul.subMenu{
                    opacity: 0;
                    position: absolute;
                    display: block;
                    padding: 15px 30px 20px;
                    left: -35px;
                    top: 100%;
                    background: white;
                    transition: all 0.3s ease;
                    
                    li{
                        transition: all 0.3s ease;
                        display: block;
                        margin-left: 0;
                        position: relative;
                        padding: 5px;
                        overflow: hidden;
                        a{
                            transition: all 0.3s ease;
                            position: relative;
                            top: 23px;
                            display: inline-block;
                            white-space: nowrap;
                        }
                    }
                }//ul.subMenu
            }//li
        }//ul
    }//ul-menuNav
}//menuNav



/****************************************************************************************************
                                            Section titre
****************************************************************************************************/


.datadock{
    width: 10%;
    margin-top: 30px;
}

.img-in-h1{
    height: 40px;
    margin-left: 5px;
}


.titreBg{
    background: white;
    position: relative;
    z-index: 1;
}

.socialBar{
    margin-top: 50px;
    ul{
        display: flex;
        justify-content: center;
        li{
            margin-left: 20px;
            font-size: 20px;
            a{
                color: @jaune;
            }
        }//li
        li:nth-of-type(1) a:hover{
            color: #0e76a8 !important;
        }
        li:nth-of-type(2) a:hover{
            color: #3b5998 !important;
        }
        li:nth-of-type(3) a:hover{
            color: #e95950 !important;
        }
        li:nth-of-type(4) a:hover{
            color: #33CCFF !important;
        }
    }//ul
}//socialBar

.titre{
    height: 100vh;
    //margin: 0 10vw;
    text-align: center;
    padding-top: 35vh;

    .next{
        display: block;
        //text-align: left;
        margin-top: 3vw;
        margin-left: 30px;
        width: 40px;
        height: 40px;
        position: relative;

        &::after{
            content: " ";
            position: absolute;
            left: 0;
            width: 30px;
            height: 30px;
            border-radius: 50%;
            border: 3px solid @greyDark;
            opacity: 0;
            transform: scale(1.3);
            animation: rond 2s infinite;
            top: 5px;
            left: 5px;
            right: 5px;
            bottom: 5px;
        }//after
        &::before{
            content: " ";
            position: absolute;
            width: 10px;
            height: 10px;
            margin: -8px 0 0 -5px;
            transform: rotate(45deg);
            border-radius: 20%;
            border-bottom: 3px solid @greyDark;
            border-right: 3px solid @greyDark;
            opacity: 0;
            top: -100%;
            left: 50%;
            animation: fleche 2s infinite;
        }
    }
}//titre



/****************************************************************************************************
                                            Slider
****************************************************************************************************/

.carousel.is-fullscreen .carousel-cell {
    height: 100%;
  }


.slider1{
    .sliderImg{
        .main-carousel{
        height: 100vh;
            .carousel-cell{
                    overflow: hidden;
                    width: 100%;
                    height: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    .carousel-cell-image{
                        display: block;
                        position: relative;
                        //top: 0;
                        //left: 0;
                        //min-height: 100vh;
                        //max-width: 100vw;
                    }//img
                    
                    .description{
                        position: absolute;
                        margin: 70px;
                        bottom: 0;
                        left: 0;
                        .rond{
                            width: 8px;
                            height: 8px;
                            border: 1px solid @greyDark;
                            border-radius: 50%;
                            position: absolute;
                            top: 20px;
                            left: 0px;
                            transition: all 0.5s ease;
                        }//rond
                        h2{
                            padding: 15px;
                            font-size: 40px;
                            font-weight: 800;
                            position: relative;
                            margin-bottom: 0px;
                            span{
                                position: relative;
                                top: -7px;
                                width: 0px;
                                background: @greyDark;
                                height: 7px;
                            }//after
                        }//h2
                        p{
                            padding:0 15px;
                        }//p
                    }//description
                    .white{
                        color: @grey;
                        div{
                            border: 1px solid @grey !important;
                        }
                        span{
                            background: @grey !important;
                        }
                    }//white
            }//carousel-cell

            .flickity-button{
                    background: none;
                    border-radius: 0%;
                    transition: all 0.3s ease;

                    &:hover{
                        background: @grey;
                    }
            }//button

        }//main-carousel
    }//sliderImg
}//slider1


/****************************************************************************************************
                                        formationEnQuatresPoints
****************************************************************************************************/

.formationEnQuatresPoints{
    background: @color4;
    color: @greyDark;
    //padding-top: 50px;
    //padding-bottom: 50px;
    //box-shadow: 0 0 40px rgba(0,0,0,0.5);
    div:first-child{
       display: flex;
       div{
           //flex: 1;
           width: 50%;
           overflow: hidden;
           img{
               //min-width: 100%;
               height: auto;
           }
       }
       .text-ou{
           padding: 50px;
       }
        article{
            padding: 20px;
            width: 100%;
        }//article
       
    }//first-child
}//formationEnQuatresPoints


/****************************************************************************************************
                                            L'atelier
****************************************************************************************************/

.atelier{
    display: flex;
    justify-content: center;
    align-items: center; 
    
    background: url(../img/atelier-img.svg) no-repeat center 0;
    background-size: cover;
    background-attachment: fixed;
    height: 100vh;
    
    div{
        width: 60%;
        padding: 50px;
    }
    .right{
        img{
            width: 100%;
        }
    }//right
    .left{
        //border-right: 3px solid @blue;
        text-align: center;
        //padding-left: 20vh;
        // margin-top: 10vh;
        // margin-bottom: 10vh;
        background: rgba(79,244,255,0.95);
        overflow: hidden;
        //color: @blue;
        
        transition: all 0.5s ease;

        
        h2{
            text-align: center;
        }
        div.bouton{
            padding: 0;
            margin-bottom: 0px;
            margin-top: 40px;
            width: 180px;

        }
    }//left
}//lAtelier


/****************************************************************************************************
                                            Offres
****************************************************************************************************/

.formation{
    display: flex;
    flex-wrap: wrap;
    article{
        //background: @greyDark;
        padding: 50px;
        text-align: center;
        color: @greyDark;
        //flex: 1;
        width: 50%;
        p{
            line-height: 1.5em;
        }
        .imgOffre{
            border: 2px solid rgba(77, 77, 77, 0.2);
        }

        &:hover .imgOffre{
            border: 2px solid rgba(77, 77, 77, 1);
            transform: scale(1.1);
        }
        div.bouton a{
            color: @greyDark;
        }
        div.bouton{
            &::before{
                border: 3px solid @greyDark;
            }
            &::after{
                border: 3px solid @greyDark;
            }
        }
        .imgOffre{
            transition: all 0.5s ease;
            margin: 0 auto;
            border-radius: 50%;
            width: 120px;
            height: 120px;
            margin-bottom: 50px;
            padding: 30px;
            display: flex;
            justify-content: center;
            align-items: center;
            //background: white;
            svg{
                font-size: 38px;
            }
        }//imgOffre

        div.bouton{
            //padding: 20px;
            opacity: 1;
            width: 180px;
            height: 60px;
            margin: 40px auto;
            margin-bottom: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            transition: all 0.5s ease;
            a{
                padding: 20px;
                position: relative;
                z-index: 100;
            }

            &::before{
                content: " ";
                position: absolute;
                width: 180px;
                height: 60px;
                border-radius: 3%;
                opacity: 1;
                transition: all 0.3s ease;
            }

            &::after{
                content: " ";
                position: absolute;
                width: 160px;
                height: 40px;
                border-radius: 3%;
                opacity: 0;
                transition: all 0.3s ease;
            }

            &:hover{

                &::before{
                    width: 200px;
                    height: 80px;
                    opacity: 0;;
                }//before
                
                &::after{
                    width: 180px;
                    height: 60px;
                    opacity: 1;
                }//after
            }//hover
        }//div.bouton
        background: white;
        position: relative;
        transition: all 0.5s ease;
        z-index: 2;
        &::after{
            position: absolute;
            content: " ";
            
            background: @blue;
            transition: all 0.5s ease;
            z-index: -1;
        }
        &:hover{
            //background: @blue;
            
            
        }
    }//article
    article:nth-of-type(1){
        &::after{
            width: 3px;
            height: 80%;
            top: 10%;
            right: 0px;
            //transform: translateY(50% + 50%);
            transition: all 0.5s ease;
        }
        &:hover{
            &::after{
                animation: afterMove 1s;
                animation-fill-mode: forwards;
            }
        }
    }
    article:nth-of-type(2){
        &::after{
            width: 3px;
            height: 80%;
            top: 10%;
            left: -3px;
            //transform: translateY(50% + 50%);
            transition: all 0.5s ease;
        }
        &:hover{
            &::after{
                animation: afterMove 1s;
                animation-fill-mode: forwards;
            }
        }
    }
    article:nth-of-type(3){
        &::after{
            width: 3px;
            height: 80%;
            top: 10%;
            right: 0px;
            //transform: translateY(50% + 50%);
            transition: all 0.5s ease;
        }
        &:hover{
            &::after{
                animation: afterMove 1s;
                animation-fill-mode: forwards;
            }
        }
    }
    article:nth-of-type(4){
        
        &::after{
            width: 3px;
            height: 80%;
            top: 10%;
            left: -3px;
            //transform: translateY(50% + 50%);
            transition: all 0.5s ease;
        }
        &:hover{
            &::after{
                animation: afterMove 1s;
                animation-fill-mode: forwards;
            }
        }
    }
    article:nth-of-type(5){
        &::after{
            width: 3px;
            height: 80%;
            top: 10%;
            right: 0px;
            //transform: translateY(50% + 50%);
            transition: all 0.5s ease;
        }
        &:hover{
            &::after{
                animation: afterMove 1s;
                animation-fill-mode: forwards;
            }
        }
    }
    article:nth-of-type(6){
        &::after{
            width: 3px;
            height: 80%;
            top: 10%;
            left: -3px;
            //transform: translateY(50% + 50%);
            transition: all 0.5s ease;
        }
        &:hover{
            &::after{
                animation: afterMove 1s;
                animation-fill-mode: forwards;
            }
        }
    }
}//formation


/****************************************************************************************************
                                            Réaliser
****************************************************************************************************/

.realiser{
    background: @greyDark;
    color: white;
    //padding: 40px;
    //border-bottom: 5px solid @blue;
    //border-top: 5px solid @blue;
    .real-flex{
        display: flex;
        align-items: center;
        .img-real{
            width: 50%;
            overflow: hidden;
            img{
                width: 100%;
                transform: scale(1.01);
            }
        }//real-img
        .text-real{
            margin: 40px;
            width: 50%;
            text-align: left;
            .bouton{
                margin-left: 0;
                margin-bottom: 0;
                a{
                    color: white;  
                }
                &::before{
                    border-color: white;
                }
                &::after{
                    border-color: white;
                }
            }
        }//text-real
    }//wrap
}//realiser


/****************************************************************************************************
                                            Temoiganges
****************************************************************************************************/

.temoignages{
    //background: @grey;
    padding-bottom: 1px;
    padding-top: 1px;
    color: @greyDark;
    .main-carousel{
        width: 100%;
        margin: 100px 0;
        text-align: center;
        
        
        .carousel-cell{
            text-align: left;
            padding: 50px 100px;
            width: 100%;

            h6{
                text-transform: uppercase;
                font-weight: 400;
                font-size: 16px;
                margin-bottom: 10px; 
            }//h6

            h5{
                text-transform: uppercase;
                text-align: right;
            }
            p{
                font-size: 24px;
                font-weight: 500;
                color: @greyDark;
                font-style: italic;
            }
        }
        .flickity-button {
            background: transparent;
          }
          .flickity-button-icon {
            fill: @greyDark;
          }
        .flickity-page-dots .dot {
            width: 5px;
            height: 5px;
            opacity: 1;
            background: @greyDark;
            transition: all 0.3s ease;
            vertical-align: middle;
          }
          /* fill-in selected dot */
          .flickity-page-dots .dot.is-selected {
            background: transparent;
            width: 15px;
            height: 15px;
            border: 2px solid @greyDark;
            border-radius: 20%;
            transform: rotate(45deg);
          }
    }//main-carousel
}//temoignage





/****************************************************************************************************
                                                Agence
****************************************************************************************************/

.agence{
    background: @blue;
    .wrap{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 50px;
        width: 60%;
        text-align: center;
        h6{
            flex: 2;
            font-size: 30px;
            margin-bottom: 50px;
        }//h6
        .bouton{
            flex: 1;
            margin: 0;
        }
    }//wrap
}//agence





/****************************************************************************************************
                                                Footer
****************************************************************************************************/

footer.pad-g{
    background: white;
    padding-top: 150px;
    padding-bottom: 100px;
    display: flex;
    justify-content: space-between;
    .logo-footer{
        font-size: 100px;
        vertical-align: bottom;
        margin-right: 5px;
        line-height: 2rem;
        &::before{
            vertical-align: bottom;
        }
    }
    .top{
        img{
            transform: rotate(180deg);
            width: 40px;
            height: auto;
        }
    }//top  
}//footer

.next-top{
    display: block;
    //text-align: left;
    width: 40px;
    height: 40px;
    position: relative;

    &::after{
        content: " ";
        position: absolute;
        left: 0;
        width: 30px;
        height: 30px;
        border-radius: 50%;
        border: 3px solid @greyDark;
        opacity: 0;
        transform: scale(1.3);
        animation: rond 2s infinite;
        top: 5px;
        left: 5px;
        right: 5px;
        bottom: 5px;
    }//after
    &::before{
        content: " ";
        position: absolute;
        width: 10px;
        height: 10px;
        margin: -3px 0 0 -5px;
        transform: rotate(45deg);
        border-radius: 20%;
        border-top: 3px solid @greyDark;
        border-left: 3px solid @greyDark;
        opacity: 0;
        top: -100%;
        left: 50%;
        animation: flecheTop 2s infinite;
    }
}




/****************************************************************************************************
                                                Pages
****************************************************************************************************/

/****************************************************************************************************
                                                Concept
****************************************************************************************************/


.nousSommes{
    padding-top: 15vh;
    padding-bottom: 15vh;
    text-align: center;
    background: @jaune;
    color: @greyDark;

    section{
        width: 60%;
        margin: 0 auto;
    }//section
}//nousSommes

.personnes{
    padding-top: 10vh;
    padding-bottom: 10vh;
    display: flex;


    article{
        text-align: center;
        padding: 0 5vh;

        .imgPerso{
            width: 200px;
            height: 200px;
            margin: 0 auto;
            border-radius: 50%;
            border: 1px solid @greyDark;
        }//img perso

        h4{
            margin-top: 50px;
        }//h4
        .socialBarPerso{
            display: flex;
            justify-content: center;
            margin: 20px 0 0;
            ul{
                display: flex;
                li{
                    a{
                        font-size: 24px;
                        margin: 0 10px;
                    }//a
                }//li
            }//ul
        }//social bar perso
    }//article
}//personnes



/****************************************************************************************************
                                                Formations
****************************************************************************************************/

#video-fond {
    overflow: hidden;
    position: relative;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    height: 100vh;
    z-index: 0;
    .wrap{
        position: relative;
    }
  }
  #video-fond > video {
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
  }
  /* 1. Pas de support d'object-fit */
  @media (min-aspect-ratio: 16/9) {
    #video-fond > video {
      height: 300vh;
      top: -100%;
    }
  }
  @media (max-aspect-ratio: 16/9) {
    #video-fond > video {
      width: 300%;
      left: -100%;
    }
  }
  /* 2. En cas de support d'object-fit, écrase les règles en (1) */
  @supports (object-fit: cover) {
    #video-fond > video {
      width: 100%;
      height: 100vh;
      top: 0;
      left: 0;
      object-fit: cover;
    }
  }

  .formation{
      article{
          img{
              width: 100%;
          }
      }
  }
// .formation{
//     display: flex;
//     article{
//         background: @greyDark;
//         padding: 50px;
//         text-align: center;
//         color: @grey;
//         .imgOffre{
//             border: 2px solid rgba(230, 230, 230, 0.2);
//         }

//         &:hover .imgOffre{
//             border: 2px solid rgba(230, 230, 230, 1);
//             transform: scale(1.1);
//         }
//         div.bouton a{
//             color: @grey;
//         }
//         div.bouton{
//             &::before{
//                 border: 3px solid @grey;
//             }
//             &::after{
//                 border: 3px solid @grey;
//             }
//         }
//         .imgOffre{
//             transition: all 0.5s ease;
//             margin: 0 auto;
//             border-radius: 50%;
//             width: 120px;
//             height: 120px;
//             margin-bottom: 50px;
//             padding: 30px;
//             display: flex;
//             justify-content: center;
//             align-items: center;
//             svg{
//                 font-size: 50px;
//             }
//         }//imgOffre

//         div.bouton{
//             //padding: 20px;
//             opacity: 1;
//             width: 180px;
//             height: 60px;
//             margin: 40px auto;
//             display: flex;
//             justify-content: center;
//             align-items: center;
//             transition: all 0.5s ease;
//             a{
//                 padding: 20px;
//                 position: relative;
//                 z-index: 100;
//             }

//             &::before{
//                 content: " ";
//                 position: absolute;
//                 width: 180px;
//                 height: 60px;
//                 border-radius: 3%;
//                 opacity: 1;
//                 transition: all 0.3s ease;
//             }

//             &::after{
//                 content: " ";
//                 position: absolute;
//                 width: 160px;
//                 height: 40px;
//                 border-radius: 3%;
//                 opacity: 0;
//                 transition: all 0.3s ease;
//             }

//             &:hover{

//                 &::before{
//                     width: 200px;
//                     height: 80px;
//                     opacity: 0;;
//                 }//before
                
//                 &::after{
//                     width: 180px;
//                     height: 60px;
//                     opacity: 1;
//                 }//after
//             }//hover
//         }//div.bouton
//     }//article
//     .yellow{
//         color: @greyDark;
//         background: @jaune;
//         div.bouton a{
//             color: @greyDark;
//         }//a
//         .imgOffre{
//             border: 2px solid rgba(77, 77, 77, 0.2);
//         }
//         &:hover .imgOffre{
//             border: 2px solid rgba(77, 77, 77, 1);
//             transform: scale(1.1);
//         }
//         div.bouton{
//             a:hover{
//                 color: @greyDark;
//             }
           
//             &::before{
//                 border: 3px solid @greyDark;
//             }

//             &::after{
//                 border: 3px solid @greyDark;
//             }
//         }
//     }//yellow
// }//formation

/****************************************************************************************************
                                               Formations
****************************************************************************************************/

.titre2{
    padding-top: 30vh;
    padding-bottom: 10vh;
        .socialBar{
            margin-top: 8vh;
            ul{
                justify-content: left;
                li a{
                    color: @greyDark;
                }
                li:nth-of-type(1){
                    margin-left: 0;
                }
            }
        }//socialBar
    h1{
        text-align: left;
        //font-size: 2em;
    }//h1
}//titre2

.titreFor{
    height: 100vh;
    //background: url(../img/formation-indesign-seelab.png)no-repeat center center;
    background-repeat: no-repeat;
    background-position: center;
    
    background-size: cover;
   

    .wrap{
        text-align: center;
        padding-top: 50vh;

        .socialBar{
            margin-top: 30px;
            ul li a{
                color: @greyDark;
            }
        }//socialBar
        h1{
            font-size: 3rem;
        }
        p{
            font-size: 1.5em;
        }
    }//wrap

}//titreFor

.image-formation{
    width: 100%;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(../img/contact-img.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover !important;
    background-attachment: fixed;
    img{
        width: 15%;
        height: auto;
    }
}

.six-bloc{
    background: @fondFor;
    padding: 10vh 0;
    margin-top: -6px;
    
    .wrap{
        
    }//wrap
}//six-bloc
.triple-bloc{
    display: flex;
    margin-bottom: 50px;
    
    article{
        text-align: center;
        padding: 20px;
        width: 33%;
        
        .imgFor{
            transition: all 0.5s ease;
            margin: 0 auto;
            border-radius: 50%;
            width: 100px;
            height: 100px;
            padding: 20px;
            margin-bottom: 30px;
            display: flex;
            justify-content: center;
            align-items: center;
            border: 2px solid rgba(77, 77, 77, 0.2);
            
            svg{
                font-size: 30px;
            }
        }//imgFor
        &:hover .imgFor{
            border: 2px solid rgba(77, 77, 77, 0.8);
            transform: scale(1.1);
        }
    }//article
}//triple-bloc


.text-principale{
    padding-top: 10vh;
    padding-bottom: 10vh;
    .wrap{
        .corp-first{
            border-left: 5px solid @blue;
            //margin: 5vh;
            text-align: left;
            margin-top: 0;  
            padding: 30px;
            background: @blue;  
        }//corp-first
        
        .corp{
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-top: 5vh;
            border-left: 5px solid @blue;
            
            .text-corp{
                margin-right: 40px;
                flex: 3;
                padding-left: 30px;
                .bouton{
                    margin-bottom: 0;
                    margin-left: -10px;
                    width: 200px;
                }//bouton
            }//corp
            
            
            .image-text-principale{
                //margin-left: 40px;
                flex: 1;
                text-align: center;
                
                img{
                    width: 100%;

                }
            }//image-text-principale
        }//corp
        
    }//wrap
}//text-principale

.tarifs{
    background: @fondFor;
    padding-top: 10vh;
    padding-bottom: 10vh;
    .wrap{
        .offres-tarifs{
            //margin-top: 40px;
            display: flex;
            justify-content: space-around;
            div{
                text-align: center;
                svg{
                    font-size: 30px;
                }
                h5{
                    font-size: 1.2rem;
                    font-weight: 700;
                    margin: 10px;
                }
            }//div
            
        }//offres-tarifs
        p{
            margin-top: 10px;
            text-align: center;
        }

    }//wrap
}//tarifs

.tarif-atelier{
    display: flex;
    .left{
        background: @color1;
    }
    .right{
        background: @color2;
    }
    div{
        width: 50%;
        text-align: center;
        padding: 40px;
        h4{
            font-size: 1.6em;
            margin: 10px;
            span{
                display: block;
                font-size: 1.1rem;
                margin-top: 10px;
            }
        }
        
    }
}

.personnalisable{
    height: 80vh;
    //background: url(../img/contact-img.jpg)no-repeat center center;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    .wrap{
        .article-atelier{
            width: auto;
        }
        article{
            margin: 0 auto;
            padding: 5vh;
            width: 60%;
            background: rgba(255,255,255,0.9);
            //border-radius: 5px;
            display: flex;

            i{
                font-size: 40px;
                margin-right: 20px;
                line-height: 0.6;
            }//svg
            // .bouton{
            //     margin-bottom: 0;
            //     width: 200px;
            // }//bouton
        }//zrticle
        .atelier-corp{
            ul{
                display: flex;
                li{
                    margin: 20px;
                    text-align: center;
                    div p{
                        font-size: 30px;
                        display: block;
                        position: relative;

                        &::before{
                            position: absolute;
                            content: " ";
                            border: 2px solid @greyDark;
                            border-radius: 50%;
                            top: 0;
                            left: 50%;
                            transform: translateX(-50%);
                            width: 40px;
                            height: 40px;
                        }//before
                    }//p
                    h6{
                        white-space: nowrap;
                        margin-top: 20px;
                    }
                }//li
            }//ul
        }//atelier
    }//wrap
}//personnalisable




/****************************************************************************************************
                                                Ateliers
****************************************************************************************************/

.bg-color{
    background: #e6e6e6;
    padding-top: 10vh;
    padding-bottom: 10vh;
    .ateliers-text{
        font-size: 20px;
        p{
            margin-bottom: 0px;
        }
    }//ateliers-text
    .ateliers{
        margin-top: 5vh;

        .bloc1{
            padding: 0 5vh;
            border-left: 5px solid @jaune;
            p{
                margin-bottom: 0;
                font-size: 20px;
            }
        }//bloc1
    }//ateliers
}//bg-color


/****************************************************************************************************
                                                Atelier
****************************************************************************************************/

.btn-fixe-resa a{
    border-left: 5px solid @jaune;
    background: @blue;
    display: flex;
    align-items: center;
    position: fixed;
    top: 150px;
    right: 0;
    padding: 10px;
    padding-right: 20px;
    z-index: 30;
    img{
        margin-right: 20px;
        width: 50px;
    }
    h3{
        margin-bottom: 0;
    }

    &::before{
        content: " ";
        position: absolute;
        height: 100%;
        width: 0;
        top: 0;
        left: 0;
        background: @jaune;
        z-index: -1;
        transition: all 0.3s ease;
    }//before

    &:hover{
        &::before{
            width: 100%;
        }
        h3{
            color: @blue;
        }
    }
}//btn-fixe-resa

.bg-blue{
    background: @blue;
    padding: 5vh 0;
    p{
        margin-bottom: 0;
        font-size: 20px;
    }
}//bg-blue

.bonnes-rai{
    padding: 5vh 0;
    .bonnes-rai-h{
        text-transform: uppercase;
        font-weight: 300;
        text-align: center;
        font-size: 1.5em;
        
        strong{
            font-size: 1.7em;
            font-weight: 700;
            display: block;
            margin-top: 10px;
        }//strong
    }//bonnes-rai-h
    .flex-trois{
        display: flex;
        margin-top: 5vh;
        article{
            width: 33%;
            text-align: center;
            h6{
                text-align: center;
                font-weight: 300;
                text-transform: uppercase;
                position: relative;
                display: inline;
                &::before{
                    content: " ";
                    position: absolute;
                    height: 20px;
                    width: 3px;
                    background: @jaune;
                    left: -10px;
                }//before
            }//h6
            h2{
                text-align: center;
                text-transform: uppercase;
                margin-bottom: 10px;
            }
        }
    }//flex-trois
}//bonnes-rai

.bloc1{
    margin-top: 5vh;
    margin-bottom: 5vh;
    padding: 0 20px;
    border-left: 5px solid @jaune;
    font-size: 20px;
}//bloc1


/*********************CALENDRIER*********************/

.calendrier{
    margin-top: 10vh;

    ul{
        li{
            background: @blue;
            border: 0.5px solid @grey;
            border-left: 5px solid @jaune;
            max-height: 80px;
            overflow: hidden;
            transition: all 0.5s ease;
            
            header{
                display: flex;
                align-items: center;
                padding: 10px;
                padding-left: 20px;

                &:hover{
                    cursor: pointer;
                }
                .cl-date{
                    text-align: center;
                    margin-right: 20px;
                    flex: 1;
                    h2{
                        margin-bottom: 5px;
                    }
                    h6{
                        color: @jaune;
                        text-transform: uppercase;
                        font-size: 18px;
                        font-weight: 300;
                    }
                }//cl-date
                .cl-titre{
                    h2{
                        color: @greyDark;
                        margin-bottom: 0px;
                    }//cl-titre
                    flex: 8;
                } 
            }//header

            .cl-content{
                display: flex;
                padding: 10px;
                padding-left: 20px;
                margin-bottom: 20px;

                .cl-icon{
                    flex: 1;
                    text-align: center;
                    i{
                        font-size: 50px;
                    }
                    margin-right: 20px;
                }//cl-icon
                .cl-text{
                    flex: 8;
                    margin-top: 10px;
                }//cl-texte
            }//cl-content

            &:hover{
                border-left-width: 10px;
            }
        }//li
        li.cl-open{
            &:hover{
                border-left-width: 5px; 
            }
        }
    }//ul
}//calendrier




/****************************************************************************************************
                                                FAQ
****************************************************************************************************/



.titre3{
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    .wrap{
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100vh;
        padding-top: 10vh;
        .contenu{
            
            h1{
                text-align: center;
                color: white;
                //mix-blend-mode: screen;
            }//h1
            .socialBar{
                ul{
                    justify-content: center;
                    li a{
                        color: white;
                        //mix-blend-mode: screen;
                    }
                }//ul
            }//socialBar
        }//contenu
    }//wrap
}//titre3

.titre3Bis{
    .wrap{
        .contenu{
            h1{
                color: @greyDark;
            }
            .socialBar ul li a{
                color: @greyDark;
            }
        }
    }
}

.titre3BisB{
    background-attachment: initial;
    .wrap{
        .contenu{
            h1{
                color: @greyDark;
            }
            .socialBar ul li a{
                color: @greyDark;
            }
        }
    }
}

.main-faq{
    display: flex;
    margin-top: 10vh;
    .faq{
        flex: 8;
        margin-right: 20px;
        h3{
            margin-bottom: 50px;
        }
        ul{
            
            li{
                padding: 30px;
                overflow: hidden;
                max-height: 80px;
                border-bottom: 5px solid @blue;
                transition: all 0.5s ease;
                position: relative;
                &::before{
                    content: " ";
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    top: -100%;
                    left: 0;
                    background: @blue;
                    transition: all 0.5s ease-in;
                    z-index: -1;
                }
                .titre-faq{
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    padding: 0px 0 40px 0;
                    &:hover{
                        cursor: pointer;
                    }
                    h4{
                        margin-bottom: 0;
                    }
                    i{
                        margin-right: 10px;
                        border-bottom: 4px solid @greyDark;
                        border-right: 4px solid @greyDark;
                        border-radius: 10%;
                        transform: rotate(45deg);
                        width: 15px;
                        height: 15px;
                        transition: all 0.3s ease;
                        &:hover{
                            cursor: pointer;
                            transform: scale(1.3) rotate(45deg);
                            border-bottom: 4px solid @jaune;
                            border-right: 4px solid @jaune;
                        }//hover
                    }//i
                }//titre-faq
                .content-faq{
                    padding: 0 20px 20px 20px;
                    .nav-faq{
                        display: flex;
                        align-items: center;
                        margin-top: 20px;
                        .socialBar{
                            margin-top: -7px;
                            ul{
                                li{
                                    border: none;
                                    margin-left: 10px;
                                    padding: 0;
                                    a{
                                        color: @greyDark;
                                        svg{
                                            font-size: 14px;
                                        }
                                    }
                                }//li
                            }//ul
                        }//socialBar
                    }//nav-faq
                }//content-faq
            }//li
            li.open{
                max-height: 1000px;
                border-color: @jaune;   
                transition: all 1s ease;
                &::before{
                    top: 0px;
                    transition: all 0.1s ease;
                }
                i{
                    transform: rotate(225deg);
                    &:hover{
                        transform: rotate(225deg) scale(1.3); 
                    }//hover
                }//i
            }//li.open
        }//ul
        .autre-question{
            background: @blue;
            margin-top: 10vh;
            text-align: center;
            padding: 5vh 0;

            .bouton{
                margin: 20px auto 0px auto;
            }//bouton
            h2{
                line-height: 1em;
            }//h2
            h3{
                margin-bottom: 30px;
            }
        }//autre-question
    }//faq
    .sideBar{
        flex: 2;
        margin-left: 20px;
        h3{
            margin-bottom: 70px;
        }//h3
        ul{
            li{
                padding: 20px;
                //background: @blue;
                margin: 20px;
                .content-sideBar{
                    padding: 20px;
                    text-align: center;
                    position: relative;
                    transition: all 0.5s ease;
                    &::after, &::before{
                        box-sizing: inherit;
                        content: '';
                        position: absolute;
                        width: 100%;
                        height: 100%;
                        border: 5px solid transparent;
                        
                        width: 0%;
                        height: 0%;
                        //transition: all 0.5s ease;
                    }//after
                    &::before{
                        top: 0;
                        left: 0;
                        transition: 
                        width 0.25s ease-out,
                        height 0.25s ease-out 0.25s;
                    }
                    &::after{
                        top: 0;
                        left: 0;
                    }
                    img{
                        transform: translateX(50%) translateY(-50%);
                        position: absolute;
                        top: 50%;
                        right: 50%;
                        width: 70%;
                        transition: all 0.5s ease;
                    }//img
                    h4{
                        margin-top: 80px;
                        opacity: 0;
                        transition: all 0.5s ease;
                    }//h4
                    .bouton{
                        opacity: 0;
                        transition: all 0.5s ease;
                        margin: 0;
                        padding: 10px;
                        a{
                            padding: 10px;
                        }//a
                        &::before{
                            width: 150px;
                            height: 50px;
                        }
                        &::after{
                            width: 130px;
                            height: 30px;
                        }
                        &:hover{
                            &::after{
                                width: 150px;
                                height: 50px;
                            }
                            &::before{
                                width: 170px;
                                height: 70px;
                            }
                        }
                    }//bouton
                }//content-sideBar
                &:hover{
                    .content-sideBar{
                        &::after, &::before{
                            width: 100%;
                            height: 100%;
                        }
                        &::before{
                            border-top-color: @greyDark;
                            border-right-color: @greyDark;
                        }
                        &::after{
                            border-bottom-color: @greyDark;
                            border-left-color: @greyDark;
                            transition:
                            height 0.25s ease-out,
                            width 0.25s ease-out 0.25s;
                        }//after
                        img{
                            width: 30%;
                            top: 50px;
                        }
                        h4{
                            opacity: 1;
                        }
                        .bouton{
                            opacity: 1;
                        }
                    }//content
                }//li:hover
            }//li
            li:nth-of-type(1){
                background: @blue;
            }
            li:nth-of-type(2){
                background: @jaune;
            }
            li:nth-of-type(3){
                background: @blue;
            }
            li:nth-of-type(4){
                background: @jaune;
            }
        }//ul
        
    }//sideBar
}//main-faq




/****************************************************************************************************
                                                L'équipe
****************************************************************************************************/

.equipe-para{
    .parallax{
        top: 0;
    }
}

.close-equipe{
    display: none;
}

.equipe-bg{
    background: url(../img/seelab-bureau4.jpg)no-repeat center center;
    background-size: cover;
    background-attachment: fixed;
}

.equipe{
    display: flex;
    padding: 10vh;
    opacity: 0.97;
    flex-wrap: wrap;
    
    article{
        display: flex;
        position: relative;
        text-align: center;
        //margin: 50px;
        padding: 7vw;
        padding-bottom: 100px;
        flex-wrap: wrap;
        width: 50%;
        background: black;
        .img-equipe{
            width: 100%;
        }
        img{
            width: 80%;
        }//img
        h3{
            margin-top: 50px;
            font-size: 2rem;
        }//h3
        .socialBarPerso{
            margin-bottom: 20px;
            ul{
               display: flex;
               justify-content: center;
               li{
                a{
                    margin: 10px;
                }
               }//li
            }//ul
        }//socialBarPerso
        .btn-plus{
            font-weight: 700;
            position: relative;
            &::before{
                content: " ";
                position: absolute;
                width: 10px;
                height: 10px;
                border-bottom: 3px solid @greyDark;
                border-right: 3px solid @greyDark;
                transform: rotate(-45deg);
                right: -15%;
                top: 20%;
                transition: all 0.3s ease;
            }
            &:hover{
                &::before{
                    transform: scale(1.3) rotate(-45deg);
                    border-bottom: 3px solid @blue;
                    border-right: 3px solid @blue;
                }//before
            }//hover
        }//btn-plus

        .content-equipe{
            position: absolute;
            //background: yellow;
            //opacity: 0.8;
            padding: 0vw;
            top: 0;
            height: 100%;
            width: 0%;
            z-index: 2;
            overflow: hidden;

            h4:first-of-type{
                margin-top: 0;
            }
            
            h4{
                margin-top: 40px;
                position: relative;
                opacity: 0;
                top: -20px;
                overflow: hidden;
                //transition-delay: 1s;
                transition: all 0.3s ease 0.5s;
            }//h4
            ol{
                position: relative;
                top: -20px;
                opacity: 0;
                transition: all 0.3s ease 0.7s;
                li{
                    list-style-type: none;
                }//li
            }//ol
            p{
                position: relative;
                top: -20px;
                opacity: 0;
                transition: all 0.3s ease 0.7s;
            }
        }//content-equipe
        
    }//article
    .open-equipe{
        .content-equipe{
            h4{
                top: 0px;
                opacity: 1;
            }
            ol, p{
                opacity: 1;
                top: 0px;
            }//ol p
        }//content-equipe
        .img-equipe{
            .btn-plus{
                &::before{
                    transform: rotate(135deg);
                }
                &:hover{
                    &::before{
                        transform: scale(1.3) rotate(135deg);
                    }
                }
            }//btn-plus
        }//img-equipe
    }//open-equipe
    
    article:nth-of-type(2n){
        background: @jaune;
        .content-equipe{
            right: 100%;
            background: @jaune;
            text-align: right;
        }
        .btn-plus:hover{
            color: @blue;
        }
    }
    article:nth-of-type(2n+1){
        background: @blue;
        .content-equipe{
            left: 100%;
            background: @blue;
            text-align: left;
        }
        .btn-plus:hover{
            &::before{
                border-color: @jaune;
            }
        }
    }
}//equipe

.block-text-vis{
    padding-top: 15vh;
    padding-bottom: 15vh;
    
    background: white;
    .wrap{
        display: flex;
        .titre-left{
            flex: 3;
            text-align: right;
            margin-right: 40px;
        }
        .text-right{
            flex: 9;
            margin-right: 50px;
        }
    }
    
}





/****************************************************************************************************
                                                Atelier
****************************************************************************************************/

.atelierr{
    h1{
        color: #fff;
        mix-blend-mode: exclusion;
        position: relative;
        z-index: 1;
    }
}

.bg-video {
    overflow: hidden;
    position: relative;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    height: 100vh;
    z-index: 0;

    &::before{
        position: absolute;
        content: " ";
        top: 0;
        left: 0;
        z-index: 1;
        width: 100%;
        height: 100vh;
        background: rgba(0,0,0,0.5);
    }
  }
  .bg-video > video {
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
  }
  /* 1. Pas de support d'object-fit */
  @media (min-aspect-ratio: 16/9) {
    .bg-video > video {
      height: 300vh;
      top: -100%;
    }
  }
  @media (max-aspect-ratio: 16/9) {
    .bg-video > video {
      width: 300%;
      left: -100%;
    }
  }
  /* 2. En cas de support d'object-fit, écrase les règles en (1) */
  @supports (object-fit: cover) {
    .bg-video > video {
      width: 100%;
      height: 100vh;
      top: 0;
      left: 0;
      object-fit: cover;
    }
  }

  .video-titre{
      position: absolute;
      top: 0;
      left: 0;
      height: 100vh;
      width: 100%;
      z-index: 0;
  }






/****************************************************************************************************
                                                Finanacement
****************************************************************************************************/

.content-financement{
    h2{
        margin-top: 40px;
    }
    .vis-a-vis{
        padding-top: 10vh;
        padding-bottom: 5vh;
        display: flex;
        align-items: center;
        div{
            flex: 1;
            img{
                width: 100%;
            }
        }//div
        div:nth-of-type(2){
            margin-left: 20px;
        }
        div:nth-of-type(1){
            margin-right: 20px;
        }
    }//vis-a-vis
}//content-financement

.content-bis-financement{
    padding-top: 10vh;
    background: @blue;
    .wrap{
        .bottom-financement{
            //blabla
        }//bottom-financement
        .triple-colones{
            display: flex;
            article{
                padding: 30px;
                text-align: center;
                flex: 1;
                .imgOffre{
                    border: 2px solid @greyDark;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 130px;
                    height: 130px;
                    margin: 30px auto;
                    border-radius: 50%;
                    
                    svg{
                        font-size: 60px;
                    }//svg
                }//imgOffre
                h3{
                    margin-bottom: 20px;
                }
                p{
                    text-align: justify;
                }//p
            }//article
            article:nth-of-type(1){
                padding-left: 0;
            }
            article:nth-of-type(3){
                padding-right: 0;
            }
        }//triple-colones
        .quatre-colones{
            margin-top: 10vh;
            padding-bottom: 10vh;
            .content-quatre-colones{
                display: flex;
                section{
                    flex: 1;
                    margin-top: 20px;
                    padding: 20px;
                    text-align: center;
                    p{
                        text-align: left;
                        strong{
                            font-weight: 700;
                        }
                    }//p
                    i{
                       
                        margin: 0 auto;
                        font-size: 80px;
                        line-height: 7rem;
                    }//i
                }//section
            }//content-quatre-colones
        }//quatre-colones
    }//wrap
}//content-bis-financement






/****************************************************************************************************
                                                Contact
****************************************************************************************************/

.contact-map{
    background: @blue;
    .contact{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 50%;
        float: left;
        height: 90vh;
        text-align: center;

        color: @greyDark;

        span{
            display: block;
        }

        .socialBar-contact ul{
            display: flex;
            justify-content: center;
            li{
                a{
                    color: @greyDark;
                    font-size: 20px;
                    margin-left: 10px;
                }
            }
        }
    }//contact
    .map{
        height: 90vh;
       width: 50%;
    }//map
}//contact-map

/****************MAP INFOBULLE*****************/
.infoBulle-map{
    text-align: center;
    padding: 10px;
    .infos-map{
        p{
            margin-bottom: 0;
        }
    }//infos-map
    .bouton-map{
        display: flex;
        justify-content: center;
        div{
            margin: 10px;
            background: @blue;
            padding: 10px;
            transition: all 0.3s ease;
            border: 2px solid @blue;
            a{
            padding: 10px;
            }
            &:hover{
                background: none;
            }
        }
    }
}//infoBulle-map

.form-img{
    display: flex;
    background: url('../img/bg-form-contact.jpg')no-repeat center center;
    background-size: cover;
    .form{
        background: @blue;
        margin: 15vh;
        width: 0%;
        display: flex;
        justify-content: center;
        align-items: center;
        form{
            margin: 50px 100px;
            display: flex;
            flex-direction: column;
            width: 0%;
            color: @greyDark;
            overflow: hidden;

            .validation{
                display: flex;
                margin-bottom: 5vh;
                opacity: 0;
                input{
                    margin-right: 20px;
                    padding: 8px;
                }
                p{
                    font-size: 11px;
                }
            }//validation

            input, textarea{
                border: none;
                padding: 10px 0;
                margin: 5px 0;
                font-family: 'Raleway', sans-serif;
                font-weight: 300;
                font-size: 18px;
                line-height: 1.2em;
                color: @greyDark;

                &::placeholder{
                    color: @greyDark;
                }
            }//input
            .nom, .email{
                position: relative;
                top: 0px;
                opacity: 0;
                transition: all 0.3s ease;
                overflow: hidden;
            }
            textarea{
                font-size: 24px;
                resize: vertical;
                &:focus{
                    outline: none;
                }
            }//textarea
            button[type="submit"]{
                font-family: 'Raleway', sans-serif;
                width: 200px;
                height: 20px;
                text-align: left;
                letter-spacing: 0.15em;
                font-weight: 300;
                color: @greyDark;
                text-transform: uppercase;
                position: relative;
                overflow: hidden;
                opacity: 0;

                &:hover{
                    background: none;
                    color: white;
                }//hover
                &:focus{
                    outline: none; 
                }
                .tapez{
                    position: absolute;
                    top: 0;
                    transition: all 0.5s ease;
                }
                .envoyer{
                    position: absolute;
                    top: 30px;
                    transition: all 0.5s ease;
                }
                cursor: pointer;
                transition: 0.3s ease;
            }//submit
        }//form
    }//form
}//form img

.lien-agence{
    width: 100%;
    background: @blue;
    padding: 15vh 0;
    a{
        h2{
            font-size: 40px;
            text-align: center;
            font-weight: 900;
            color: @greyDark;
            transition: all 0.5s ease;
            margin-bottom: 0;
        }
        &:hover h2{
            color: @jaune;
        }
    }
}//lien agence
