@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?uz1sd2');
  src:  url('fonts/icomoon.eot?uz1sd2#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?uz1sd2') format('truetype'),
    url('fonts/icomoon.woff?uz1sd2') format('woff'),
    url('fonts/icomoon.svg?uz1sd2#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

i {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  font-size: 40px;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
i.bis{
  font-size: 30px;
}

.icon-Fichier-27 .path1:before {
  content: "\e9ca";
  color: rgb(51, 51, 51);
}
.icon-Fichier-27 .path2:before {
  content: "\e9cb";
  margin-left: -0.732421875em;
  color: rgb(255, 208, 59);
}
.icon-Fichier-27 .path3:before {
  content: "\e9cc";
  margin-left: -0.732421875em;
  color: rgb(51, 51, 51);
}
.icon-Fichier-27 .path4:before {
  content: "\e9cd";
  margin-left: -0.732421875em;
  color: rgb(255, 208, 59);
}
.icon-Fichier-27 .path5:before {
  content: "\e9ce";
  margin-left: -0.732421875em;
  color: rgb(255, 208, 59);
}
.icon-Fichier-27 .path6:before {
  content: "\e9cf";
  margin-left: -0.732421875em;
  color: rgb(255, 208, 59);
}
.icon-Fichier-27 .path7:before {
  content: "\e9d0";
  margin-left: -0.732421875em;
  color: rgb(51, 51, 51);
}
.icon-Fichier-27 .path8:before {
  content: "\e9d1";
  margin-left: -0.732421875em;
  color: rgb(51, 51, 51);
}
.icon-Fichier-28 .path1:before {
  content: "\e9d2";
  color: rgb(51, 51, 51);
}
.icon-Fichier-28 .path2:before {
  content: "\e9d3";
  margin-left: -0.732421875em;
  color: rgb(255, 208, 59);
}
.icon-Fichier-28 .path3:before {
  content: "\e9d4";
  margin-left: -0.732421875em;
  color: rgb(51, 51, 51);
}
.icon-Fichier-28 .path4:before {
  content: "\e9d5";
  margin-left: -0.732421875em;
  color: rgb(255, 208, 59);
}
.icon-Fichier-28 .path5:before {
  content: "\e9d6";
  margin-left: -0.732421875em;
  color: rgb(255, 208, 59);
}
.icon-Fichier-28 .path6:before {
  content: "\e9d7";
  margin-left: -0.732421875em;
  color: rgb(255, 208, 59);
}
.icon-Fichier-28 .path7:before {
  content: "\e9d8";
  margin-left: -0.732421875em;
  color: rgb(51, 51, 51);
}
.icon-Fichier-28 .path8:before {
  content: "\e9d9";
  margin-left: -0.732421875em;
  color: rgb(51, 51, 51);
}
.icon-Fichier-1 .path1:before {
  content: "\e900";
  color: rgb(51, 51, 51);
}
.icon-Fichier-1 .path2:before {
  content: "\e901";
  margin-left: -1em;
  color: rgb(255, 208, 59);
}
.icon-Fichier-1 .path3:before {
  content: "\e902";
  margin-left: -1em;
  color: rgb(51, 51, 51);
}
.icon-Fichier-2 .path1:before {
  content: "\e903";
  color: rgb(255, 208, 59);
}
.icon-Fichier-2 .path2:before {
  content: "\e904";
  margin-left: -1em;
  color: rgb(255, 208, 59);
}
.icon-Fichier-2 .path3:before {
  content: "\e905";
  margin-left: -1em;
  color: rgb(255, 208, 59);
}
.icon-Fichier-2 .path4:before {
  content: "\e906";
  margin-left: -1em;
  color: rgb(255, 208, 59);
}
.icon-Fichier-2 .path5:before {
  content: "\e907";
  margin-left: -1em;
  color: rgb(51, 51, 51);
}
.icon-Fichier-2 .path6:before {
  content: "\e908";
  margin-left: -1em;
  color: rgb(51, 51, 51);
}
.icon-Fichier-2 .path7:before {
  content: "\e909";
  margin-left: -1em;
  color: rgb(51, 51, 51);
}
.icon-Fichier-2 .path8:before {
  content: "\e90a";
  margin-left: -1em;
  color: rgb(51, 51, 51);
}
.icon-Fichier-2 .path9:before {
  content: "\e90b";
  margin-left: -1em;
  color: rgb(51, 51, 51);
}
.icon-Fichier-2 .path10:before {
  content: "\e90c";
  margin-left: -1em;
  color: rgb(51, 51, 51);
}
.icon-Fichier-3 .path1:before {
  content: "\e90d";
  color: rgb(255, 208, 59);
}
.icon-Fichier-3 .path2:before {
  content: "\e90e";
  margin-left: -1em;
  color: rgb(51, 51, 51);
}
.icon-Fichier-3 .path3:before {
  content: "\e90f";
  margin-left: -1em;
  color: rgb(255, 208, 59);
}
.icon-Fichier-3 .path4:before {
  content: "\e910";
  margin-left: -1em;
  color: rgb(255, 208, 59);
}
.icon-Fichier-3 .path5:before {
  content: "\e911";
  margin-left: -1em;
  color: rgb(51, 51, 51);
}
.icon-Fichier-3 .path6:before {
  content: "\e912";
  margin-left: -1em;
  color: rgb(51, 51, 51);
}
.icon-Fichier-4 .path1:before {
  content: "\e913";
  color: rgb(51, 51, 51);
}
.icon-Fichier-4 .path2:before {
  content: "\e914";
  margin-left: -1em;
  color: rgb(255, 208, 59);
}
.icon-Fichier-4 .path3:before {
  content: "\e915";
  margin-left: -1em;
  color: rgb(255, 208, 59);
}
.icon-Fichier-4 .path4:before {
  content: "\e916";
  margin-left: -1em;
  color: rgb(51, 51, 51);
}
.icon-Fichier-4 .path5:before {
  content: "\e917";
  margin-left: -1em;
  color: rgb(255, 208, 59);
}
.icon-Fichier-4 .path6:before {
  content: "\e918";
  margin-left: -1em;
  color: rgb(51, 51, 51);
}
.icon-Fichier-5 .path1:before {
  content: "\e919";
  color: rgb(255, 208, 59);
}
.icon-Fichier-5 .path2:before {
  content: "\e91a";
  margin-left: -0.732421875em;
  color: rgb(51, 51, 51);
}
.icon-Fichier-5 .path3:before {
  content: "\e91b";
  margin-left: -0.732421875em;
  color: rgb(51, 51, 51);
}
.icon-Fichier-5 .path4:before {
  content: "\e91c";
  margin-left: -0.732421875em;
  color: rgb(51, 51, 51);
}
.icon-Fichier-5 .path5:before {
  content: "\e91d";
  margin-left: -0.732421875em;
  color: rgb(51, 51, 51);
}
.icon-Fichier-5 .path6:before {
  content: "\e91e";
  margin-left: -0.732421875em;
  color: rgb(255, 208, 59);
}
.icon-Fichier-5 .path7:before {
  content: "\e91f";
  margin-left: -0.732421875em;
  color: rgb(255, 208, 59);
}
.icon-Fichier-5 .path8:before {
  content: "\e920";
  margin-left: -0.732421875em;
  color: rgb(255, 208, 59);
}
.icon-Fichier-6 .path1:before {
  content: "\e921";
  color: rgb(255, 208, 59);
}
.icon-Fichier-6 .path2:before {
  content: "\e922";
  margin-left: -1em;
  color: rgb(51, 51, 51);
}
.icon-Fichier-6 .path3:before {
  content: "\e923";
  margin-left: -1em;
  color: rgb(51, 51, 51);
}
.icon-Fichier-6 .path4:before {
  content: "\e924";
  margin-left: -1em;
  color: rgb(51, 51, 51);
}
.icon-Fichier-6 .path5:before {
  content: "\e925";
  margin-left: -1em;
  color: rgb(51, 51, 51);
}
.icon-Fichier-6 .path6:before {
  content: "\e926";
  margin-left: -1em;
  color: rgb(51, 51, 51);
}
.icon-Fichier-6 .path7:before {
  content: "\e927";
  margin-left: -1em;
  color: rgb(255, 208, 59);
}
.icon-Fichier-7 .path1:before {
  content: "\e928";
  color: rgb(255, 208, 59);
}
.icon-Fichier-7 .path2:before {
  content: "\e929";
  margin-left: -1em;
  color: rgb(51, 51, 51);
}
.icon-Fichier-7 .path3:before {
  content: "\e92a";
  margin-left: -1em;
  color: rgb(51, 51, 51);
}
.icon-Fichier-7 .path4:before {
  content: "\e92b";
  margin-left: -1em;
  color: rgb(51, 51, 51);
}
.icon-Fichier-7 .path5:before {
  content: "\e92c";
  margin-left: -1em;
  color: rgb(51, 51, 51);
}
.icon-Fichier-7 .path6:before {
  content: "\e92d";
  margin-left: -1em;
  color: rgb(51, 51, 51);
}
.icon-Fichier-7 .path7:before {
  content: "\e92e";
  margin-left: -1em;
  color: rgb(51, 51, 51);
}
.icon-Fichier-7 .path8:before {
  content: "\e92f";
  margin-left: -1em;
  color: rgb(51, 51, 51);
}
.icon-Fichier-8 .path1:before {
  content: "\e930";
  color: rgb(255, 208, 59);
}
.icon-Fichier-8 .path2:before {
  content: "\e931";
  margin-left: -1em;
  color: rgb(51, 51, 51);
}
.icon-Fichier-8 .path3:before {
  content: "\e932";
  margin-left: -1em;
  color: rgb(255, 208, 59);
}
.icon-Fichier-8 .path4:before {
  content: "\e933";
  margin-left: -1em;
  color: rgb(51, 51, 51);
}
.icon-Fichier-8 .path5:before {
  content: "\e934";
  margin-left: -1em;
  color: rgb(255, 208, 59);
}
.icon-Fichier-8 .path6:before {
  content: "\e935";
  margin-left: -1em;
  color: rgb(51, 51, 51);
}
.icon-Fichier-9 .path1:before {
  content: "\e936";
  color: rgb(255, 208, 59);
}
.icon-Fichier-9 .path2:before {
  content: "\e937";
  margin-left: -1em;
  color: rgb(255, 208, 59);
}
.icon-Fichier-9 .path3:before {
  content: "\e938";
  margin-left: -1em;
  color: rgb(255, 208, 59);
}
.icon-Fichier-9 .path4:before {
  content: "\e939";
  margin-left: -1em;
  color: rgb(255, 208, 59);
}
.icon-Fichier-9 .path5:before {
  content: "\e93a";
  margin-left: -1em;
  color: rgb(255, 208, 59);
}
.icon-Fichier-9 .path6:before {
  content: "\e93b";
  margin-left: -1em;
  color: rgb(255, 208, 59);
}
.icon-Fichier-9 .path7:before {
  content: "\e93c";
  margin-left: -1em;
  color: rgb(255, 208, 59);
}
.icon-Fichier-9 .path8:before {
  content: "\e93d";
  margin-left: -1em;
  color: rgb(255, 208, 59);
}
.icon-Fichier-9 .path9:before {
  content: "\e93e";
  margin-left: -1em;
  color: rgb(255, 208, 59);
}
.icon-Fichier-9 .path10:before {
  content: "\e93f";
  margin-left: -1em;
  color: rgb(255, 208, 59);
}
.icon-Fichier-9 .path11:before {
  content: "\e940";
  margin-left: -1em;
  color: rgb(255, 208, 59);
}
.icon-Fichier-9 .path12:before {
  content: "\e941";
  margin-left: -1em;
  color: rgb(255, 208, 59);
}
.icon-Fichier-9 .path13:before {
  content: "\e942";
  margin-left: -1em;
  color: rgb(255, 208, 59);
}
.icon-Fichier-9 .path14:before {
  content: "\e943";
  margin-left: -1em;
  color: rgb(255, 208, 59);
}
.icon-Fichier-9 .path15:before {
  content: "\e944";
  margin-left: -1em;
  color: rgb(255, 208, 59);
}
.icon-Fichier-9 .path16:before {
  content: "\e945";
  margin-left: -1em;
  color: rgb(255, 208, 59);
}
.icon-Fichier-9 .path17:before {
  content: "\e946";
  margin-left: -1em;
  color: rgb(51, 51, 51);
}
.icon-Fichier-9 .path18:before {
  content: "\e947";
  margin-left: -1em;
  color: rgb(51, 51, 51);
}
.icon-Fichier-9 .path19:before {
  content: "\e948";
  margin-left: -1em;
  color: rgb(51, 51, 51);
}
.icon-Fichier-9 .path20:before {
  content: "\e949";
  margin-left: -1em;
  color: rgb(51, 51, 51);
}
.icon-Fichier-9 .path21:before {
  content: "\e94a";
  margin-left: -1em;
  color: rgb(51, 51, 51);
}
.icon-Fichier-9 .path22:before {
  content: "\e94b";
  margin-left: -1em;
  color: rgb(51, 51, 51);
}
.icon-Fichier-9 .path23:before {
  content: "\e94c";
  margin-left: -1em;
  color: rgb(51, 51, 51);
}
.icon-Fichier-9 .path24:before {
  content: "\e94d";
  margin-left: -1em;
  color: rgb(51, 51, 51);
}
.icon-Fichier-9 .path25:before {
  content: "\e94e";
  margin-left: -1em;
  color: rgb(51, 51, 51);
}
.icon-Fichier-9 .path26:before {
  content: "\e94f";
  margin-left: -1em;
  color: rgb(51, 51, 51);
}
.icon-Fichier-9 .path27:before {
  content: "\e950";
  margin-left: -1em;
  color: rgb(51, 51, 51);
}
.icon-Fichier-9 .path28:before {
  content: "\e951";
  margin-left: -1em;
  color: rgb(51, 51, 51);
}
.icon-Fichier-9 .path29:before {
  content: "\e952";
  margin-left: -1em;
  color: rgb(51, 51, 51);
}
.icon-Fichier-9 .path30:before {
  content: "\e953";
  margin-left: -1em;
  color: rgb(51, 51, 51);
}
.icon-Fichier-9 .path31:before {
  content: "\e954";
  margin-left: -1em;
  color: rgb(51, 51, 51);
}
.icon-Fichier-9 .path32:before {
  content: "\e955";
  margin-left: -1em;
  color: rgb(51, 51, 51);
}
.icon-Fichier-9 .path33:before {
  content: "\e956";
  margin-left: -1em;
  color: rgb(51, 51, 51);
}
.icon-Fichier-10 .path1:before {
  content: "\e957";
  color: rgb(255, 208, 59);
}
.icon-Fichier-10 .path2:before {
  content: "\e958";
  margin-left: -1.001953125em;
  color: rgb(255, 208, 59);
}
.icon-Fichier-10 .path3:before {
  content: "\e959";
  margin-left: -1.001953125em;
  color: rgb(51, 51, 51);
}
.icon-Fichier-10 .path4:before {
  content: "\e95a";
  margin-left: -1.001953125em;
  color: rgb(51, 51, 51);
}
.icon-Fichier-10 .path5:before {
  content: "\e95b";
  margin-left: -1.001953125em;
  color: rgb(51, 51, 51);
}
.icon-Fichier-10 .path6:before {
  content: "\e95c";
  margin-left: -1.001953125em;
  color: rgb(51, 51, 51);
}
.icon-Fichier-10 .path7:before {
  content: "\e95d";
  margin-left: -1.001953125em;
  color: rgb(51, 51, 51);
}
.icon-Fichier-10 .path8:before {
  content: "\e95e";
  margin-left: -1.001953125em;
  color: rgb(255, 208, 59);
}
.icon-Fichier-10 .path9:before {
  content: "\e95f";
  margin-left: -1.001953125em;
  color: rgb(255, 208, 59);
}
.icon-Fichier-10 .path10:before {
  content: "\e960";
  margin-left: -1.001953125em;
  color: rgb(255, 208, 59);
}
.icon-Fichier-11:before {
  content: "\e961";
}
.icon-Fichier-12:before {
  content: "\e962";
}
.icon-Fichier-13 .path1:before {
  content: "\e963";
  color: rgb(51, 51, 51);
}
.icon-Fichier-13 .path2:before {
  content: "\e964";
  margin-left: -1em;
  color: rgb(51, 51, 51);
}
.icon-Fichier-13 .path3:before {
  content: "\e965";
  margin-left: -1em;
  color: rgb(255, 208, 59);
}
.icon-Fichier-13 .path4:before {
  content: "\e966";
  margin-left: -1em;
  color: rgb(51, 51, 51);
}
.icon-Fichier-13 .path5:before {
  content: "\e967";
  margin-left: -1em;
  color: rgb(255, 208, 59);
}
.icon-Fichier-14 .path1:before {
  content: "\e968";
  color: rgb(255, 208, 59);
}
.icon-Fichier-14 .path2:before {
  content: "\e969";
  margin-left: -1em;
  color: rgb(51, 51, 51);
}
.icon-Fichier-14 .path3:before {
  content: "\e96a";
  margin-left: -1em;
  color: rgb(255, 208, 59);
}
.icon-Fichier-14 .path4:before {
  content: "\e96b";
  margin-left: -1em;
  color: rgb(255, 208, 59);
}
.icon-Fichier-14 .path5:before {
  content: "\e96c";
  margin-left: -1em;
  color: rgb(51, 51, 51);
}
.icon-Fichier-15 .path1:before {
  content: "\e96d";
  color: rgb(51, 51, 51);
}
.icon-Fichier-15 .path2:before {
  content: "\e96e";
  margin-left: -1em;
  color: rgb(51, 51, 51);
}
.icon-Fichier-15 .path3:before {
  content: "\e96f";
  margin-left: -1em;
  color: rgb(51, 51, 51);
}
.icon-Fichier-15 .path4:before {
  content: "\e970";
  margin-left: -1em;
  color: rgb(51, 51, 51);
}
.icon-Fichier-15 .path5:before {
  content: "\e971";
  margin-left: -1em;
  color: rgb(51, 51, 51);
}
.icon-Fichier-15 .path6:before {
  content: "\e972";
  margin-left: -1em;
  color: rgb(51, 51, 51);
}
.icon-Fichier-15 .path7:before {
  content: "\e973";
  margin-left: -1em;
  color: rgb(51, 51, 51);
}
.icon-Fichier-15 .path8:before {
  content: "\e974";
  margin-left: -1em;
  color: rgb(51, 51, 51);
}
.icon-Fichier-15 .path9:before {
  content: "\e975";
  margin-left: -1em;
  color: rgb(51, 51, 51);
}
.icon-Fichier-15 .path10:before {
  content: "\e976";
  margin-left: -1em;
  color: rgb(255, 208, 59);
}
.icon-Fichier-15 .path11:before {
  content: "\e977";
  margin-left: -1em;
  color: rgb(255, 208, 59);
}
.icon-Fichier-15 .path12:before {
  content: "\e978";
  margin-left: -1em;
  color: rgb(255, 208, 59);
}
.icon-Fichier-15 .path13:before {
  content: "\e979";
  margin-left: -1em;
  color: rgb(255, 208, 59);
}
.icon-Fichier-15 .path14:before {
  content: "\e97a";
  margin-left: -1em;
  color: rgb(255, 208, 59);
}
.icon-Fichier-15 .path15:before {
  content: "\e97b";
  margin-left: -1em;
  color: rgb(51, 51, 51);
}
.icon-Fichier-15 .path16:before {
  content: "\e97c";
  margin-left: -1em;
  color: rgb(51, 51, 51);
}
.icon-Fichier-15 .path17:before {
  content: "\e97d";
  margin-left: -1em;
  color: rgb(255, 208, 59);
}
.icon-Fichier-16:before {
  content: "\e97e";
}
.icon-Fichier-17 .path1:before {
  content: "\e97f";
  color: rgb(51, 51, 51);
}
.icon-Fichier-17 .path2:before {
  content: "\e980";
  margin-left: -1em;
  color: rgb(255, 208, 59);
}
.icon-Fichier-17 .path3:before {
  content: "\e981";
  margin-left: -1em;
  color: rgb(51, 51, 51);
}
.icon-Fichier-17 .path4:before {
  content: "\e982";
  margin-left: -1em;
  color: rgb(51, 51, 51);
}
.icon-Fichier-17 .path5:before {
  content: "\e983";
  margin-left: -1em;
  color: rgb(51, 51, 51);
}
.icon-Fichier-17 .path6:before {
  content: "\e984";
  margin-left: -1em;
  color: rgb(255, 208, 59);
}
.icon-Fichier-17 .path7:before {
  content: "\e985";
  margin-left: -1em;
  color: rgb(51, 51, 51);
}
.icon-Fichier-17 .path8:before {
  content: "\e986";
  margin-left: -1em;
  color: rgb(51, 51, 51);
}
.icon-Fichier-17 .path9:before {
  content: "\e987";
  margin-left: -1em;
  color: rgb(51, 51, 51);
}
.icon-Fichier-17 .path10:before {
  content: "\e988";
  margin-left: -1em;
  color: rgb(255, 208, 59);
}
.icon-Fichier-17 .path11:before {
  content: "\e989";
  margin-left: -1em;
  color: rgb(51, 51, 51);
}
.icon-Fichier-17 .path12:before {
  content: "\e98a";
  margin-left: -1em;
  color: rgb(51, 51, 51);
}
.icon-Fichier-18 .path1:before {
  content: "\e98b";
  color: rgb(255, 208, 59);
}
.icon-Fichier-18 .path2:before {
  content: "\e98c";
  margin-left: -1em;
  color: rgb(51, 51, 51);
}
.icon-Fichier-18 .path3:before {
  content: "\e98d";
  margin-left: -1em;
  color: rgb(51, 51, 51);
}
.icon-Fichier-18 .path4:before {
  content: "\e98e";
  margin-left: -1em;
  color: rgb(255, 208, 59);
}
.icon-Fichier-18 .path5:before {
  content: "\e98f";
  margin-left: -1em;
  color: rgb(255, 208, 59);
}
.icon-Fichier-18 .path6:before {
  content: "\e990";
  margin-left: -1em;
  color: rgb(255, 208, 59);
}
.icon-Fichier-18 .path7:before {
  content: "\e991";
  margin-left: -1em;
  color: rgb(255, 208, 59);
}
.icon-Fichier-18 .path8:before {
  content: "\e992";
  margin-left: -1em;
  color: rgb(51, 51, 51);
}
.icon-Fichier-18 .path9:before {
  content: "\e993";
  margin-left: -1em;
  color: rgb(51, 51, 51);
}
.icon-Fichier-18 .path10:before {
  content: "\e994";
  margin-left: -1em;
  color: rgb(51, 51, 51);
}
.icon-Fichier-18 .path11:before {
  content: "\e995";
  margin-left: -1em;
  color: rgb(51, 51, 51);
}
.icon-Fichier-19 .path1:before {
  content: "\e996";
  color: rgb(255, 208, 59);
}
.icon-Fichier-19 .path2:before {
  content: "\e997";
  margin-left: -1em;
  color: rgb(255, 208, 59);
}
.icon-Fichier-19 .path3:before {
  content: "\e998";
  margin-left: -1em;
  color: rgb(255, 208, 59);
}
.icon-Fichier-19 .path4:before {
  content: "\e999";
  margin-left: -1em;
  color: rgb(51, 51, 51);
}
.icon-Fichier-19 .path5:before {
  content: "\e99a";
  margin-left: -1em;
  color: rgb(51, 51, 51);
}
.icon-Fichier-19 .path6:before {
  content: "\e99b";
  margin-left: -1em;
  color: rgb(51, 51, 51);
}
.icon-Fichier-19 .path7:before {
  content: "\e99c";
  margin-left: -1em;
  color: rgb(51, 51, 51);
}
.icon-Fichier-19 .path8:before {
  content: "\e99d";
  margin-left: -1em;
  color: rgb(51, 51, 51);
}
.icon-Fichier-19 .path9:before {
  content: "\e99e";
  margin-left: -1em;
  color: rgb(255, 208, 59);
}
.icon-Fichier-19 .path10:before {
  content: "\e99f";
  margin-left: -1em;
  color: rgb(255, 208, 59);
}
.icon-Fichier-19 .path11:before {
  content: "\e9a0";
  margin-left: -1em;
  color: rgb(255, 208, 59);
}
.icon-Fichier-20 .path1:before {
  content: "\e9a1";
  color: rgb(51, 51, 51);
}
.icon-Fichier-20 .path2:before {
  content: "\e9a2";
  margin-left: -1em;
  color: rgb(51, 51, 51);
}
.icon-Fichier-20 .path3:before {
  content: "\e9a3";
  margin-left: -1em;
  color: rgb(51, 51, 51);
}
.icon-Fichier-20 .path4:before {
  content: "\e9a4";
  margin-left: -1em;
  color: rgb(255, 208, 59);
}
.icon-Fichier-20 .path5:before {
  content: "\e9a5";
  margin-left: -1em;
  color: rgb(255, 208, 59);
}
.icon-Fichier-20 .path6:before {
  content: "\e9a6";
  margin-left: -1em;
  color: rgb(255, 208, 59);
}
.icon-Fichier-21 .path1:before {
  content: "\e9a7";
  color: rgb(255, 208, 59);
}
.icon-Fichier-21 .path2:before {
  content: "\e9a8";
  margin-left: -1em;
  color: rgb(255, 208, 59);
}
.icon-Fichier-21 .path3:before {
  content: "\e9a9";
  margin-left: -1em;
  color: rgb(255, 208, 59);
}
.icon-Fichier-21 .path4:before {
  content: "\e9aa";
  margin-left: -1em;
  color: rgb(255, 208, 59);
}
.icon-Fichier-21 .path5:before {
  content: "\e9ab";
  margin-left: -1em;
  color: rgb(255, 208, 59);
}
.icon-Fichier-21 .path6:before {
  content: "\e9ac";
  margin-left: -1em;
  color: rgb(255, 208, 59);
}
.icon-Fichier-21 .path7:before {
  content: "\e9ad";
  margin-left: -1em;
  color: rgb(255, 208, 59);
}
.icon-Fichier-21 .path8:before {
  content: "\e9ae";
  margin-left: -1em;
  color: rgb(255, 208, 59);
}
.icon-Fichier-21 .path9:before {
  content: "\e9af";
  margin-left: -1em;
  color: rgb(255, 208, 59);
}
.icon-Fichier-21 .path10:before {
  content: "\e9b0";
  margin-left: -1em;
  color: rgb(255, 208, 59);
}
.icon-Fichier-21 .path11:before {
  content: "\e9b1";
  margin-left: -1em;
  color: rgb(255, 208, 59);
}
.icon-Fichier-21 .path12:before {
  content: "\e9b2";
  margin-left: -1em;
  color: rgb(51, 51, 51);
}
.icon-Fichier-21 .path13:before {
  content: "\e9b3";
  margin-left: -1em;
  color: rgb(51, 51, 51);
}
.icon-Fichier-21 .path14:before {
  content: "\e9b4";
  margin-left: -1em;
  color: rgb(51, 51, 51);
}
.icon-Fichier-22 .path1:before {
  content: "\e9b5";
  color: rgb(255, 208, 59);
}
.icon-Fichier-22 .path2:before {
  content: "\e9b6";
  margin-left: -0.8671875em;
  color: rgb(255, 208, 59);
}
.icon-Fichier-22 .path3:before {
  content: "\e9b7";
  margin-left: -0.8671875em;
  color: rgb(51, 51, 51);
}
.icon-Fichier-22 .path4:before {
  content: "\e9b8";
  margin-left: -0.8671875em;
  color: rgb(51, 51, 51);
}
.icon-Fichier-22 .path5:before {
  content: "\e9b9";
  margin-left: -0.8671875em;
  color: rgb(51, 51, 51);
}
.icon-Fichier-22 .path6:before {
  content: "\e9ba";
  margin-left: -0.8671875em;
  color: rgb(51, 51, 51);
}
.icon-Fichier-22 .path7:before {
  content: "\e9bb";
  margin-left: -0.8671875em;
  color: rgb(51, 51, 51);
}
.icon-Fichier-22 .path8:before {
  content: "\e9bc";
  margin-left: -0.8671875em;
  color: rgb(51, 51, 51);
}
.icon-Fichier-22 .path9:before {
  content: "\e9bd";
  margin-left: -0.8671875em;
  color: rgb(51, 51, 51);
}
.icon-Fichier-22 .path10:before {
  content: "\e9be";
  margin-left: -0.8671875em;
  color: rgb(51, 51, 51);
}
.icon-Fichier-23 .path1:before {
  content: "\e9bf";
  color: rgb(255, 208, 59);
}
.icon-Fichier-23 .path2:before {
  content: "\e9c0";
  margin-left: -1em;
  color: rgb(51, 51, 51);
}
.icon-Fichier-23 .path3:before {
  content: "\e9c1";
  margin-left: -1em;
  color: rgb(255, 208, 59);
}
.icon-Fichier-24 .path1:before {
  content: "\e9c2";
  color: rgb(51, 51, 51);
}
.icon-Fichier-24 .path2:before {
  content: "\e9c3";
  margin-left: -0.732421875em;
  color: rgb(255, 208, 59);
}
.icon-Fichier-24 .path3:before {
  content: "\e9c4";
  margin-left: -0.732421875em;
  color: rgb(51, 51, 51);
}
.icon-Fichier-24 .path4:before {
  content: "\e9c5";
  margin-left: -0.732421875em;
  color: rgb(255, 208, 59);
}
.icon-Fichier-24 .path5:before {
  content: "\e9c6";
  margin-left: -0.732421875em;
  color: rgb(255, 208, 59);
}
.icon-Fichier-24 .path6:before {
  content: "\e9c7";
  margin-left: -0.732421875em;
  color: rgb(255, 208, 59);
}
.icon-Fichier-24 .path7:before {
  content: "\e9c8";
  margin-left: -0.732421875em;
  color: rgb(51, 51, 51);
}
.icon-Fichier-24 .path8:before {
  content: "\e9c9";
  margin-left: -0.732421875em;
  color: rgb(51, 51, 51);
}
