/*

Format: less
Site: seelab-formation.fr
Dev: robin moquet
Date: 06 avril 2018

*/
/****************************************************************************************************
                                            Variable
****************************************************************************************************/
/****************************************************************************************************
                                        Remise a zero
****************************************************************************************************/
*:focus {
  outline: none;
}
*,
*::before,
*::after {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
/****************************************************************************************************
                                            Generalitees
****************************************************************************************************/
*,
*::after,
*::before {
  box-sizing: border-box;
}
body {
  font-family: 'Raleway', sans-serif;
  color: #333333;
}
a {
  color: #333333;
  text-decoration: none;
  transition: color 0.5s ease;
}
a:hover {
  color: #FFD03B;
}
.pad-g {
  padding-left: 50px;
  padding-right: 50px;
}
h1 {
  font-size: 2.5em;
  font-weight: 800;
  text-align: center;
  padding-bottom: 30px;
}
h1 strong {
  color: #FFD03B;
  font-weight: 800;
}
h1 span {
  display: block;
  padding-top: 10px;
}
h2 {
  font-size: 30px;
  font-weight: 700;
  margin-bottom: 30px;
}
h3 {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 10px;
}
p {
  line-height: 1.5em;
  margin-bottom: 10px;
}
h4 {
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 20px;
}
h6 {
  font-size: 20px;
  font-weight: 700;
}
.p-20 {
  font-size: 20px;
}
#top {
  position: absolute;
  top: 0;
}
.wrap {
  max-width: 1500px;
  margin: 0 auto;
}
.t-n-2 {
  font-size: 1.3em;
}
ol {
  margin-top: 10px;
  padding-left: 17px;
}
ol li {
  line-height: 1.5rem;
  list-style-type: square;
}
div.bouton {
  opacity: 1;
  width: 180px;
  height: 60px;
  margin: 40px auto;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.5s ease;
}
div.bouton a {
  padding: 20px;
  position: relative;
  z-index: 100;
}
div.bouton::before {
  content: " ";
  position: absolute;
  width: 180px;
  height: 60px;
  border-radius: 3%;
  opacity: 1;
  transition: all 0.3s ease;
}
div.bouton::after {
  content: " ";
  position: absolute;
  width: 160px;
  height: 40px;
  border-radius: 3%;
  opacity: 0;
  transition: all 0.3s ease;
}
div.bouton:hover::before {
  width: 200px;
  height: 80px;
  opacity: 0;
}
div.bouton:hover::after {
  width: 180px;
  height: 60px;
  opacity: 1;
}
div.bouton a:hover {
  color: #333333;
}
div.bouton::before {
  border: 3px solid #333333;
}
div.bouton::after {
  border: 3px solid #333333;
}
.control-video {
  position: absolute;
  top: 150px;
  right: 50px;
  z-index: 10000;
}
.control-video svg {
  display: block;
  margin: 10px;
  font-size: 25px;
  color: #333333;
  transition: all 0.3s ease;
}
.control-video svg:hover {
  cursor: pointer;
  color: #FFD03B;
}
/****************************************************************************************************
                                            Parallax
****************************************************************************************************/
.content {
  position: relative;
  z-index: 1;
}
.parallax-container {
  position: relative;
  height: 100vh;
}
.parallax {
  position: relative;
  height: 100.1vh !important;
  width: 100%;
  z-index: 0;
  top: -25vh;
}
/****************************************************************************************************
                                            Couleurs
****************************************************************************************************/
body.faq .navTop a {
  color: white;
}
body.faq .navTop a i {
  color: white;
}
body.indesign .navTop a {
  color: #ff408c;
}
body.indesign .navTop a i {
  color: #ff408c;
}
body.indesign .menuOverlay .bodyMenuOverlay a {
  color: #ff408c;
}
body.indesign .menuOverlay header p {
  color: #ff408c;
}
body.indesign .menuOverlay header p strong::after {
  background: #ff408c;
}
body.indesign .menuOverlay footer {
  color: #ff408c;
}
body.indesign .menuOverlay footer .socialBar a {
  color: #ff408c;
}
body.indesign .menuNav a {
  color: #ff408c;
}
body.indesign footer p {
  color: #ff408c;
}
body.indesign footer p a {
  color: #ff408c;
}
body.indesign footer .top a::before {
  border-color: #ff408c;
}
body.indesign footer .top a::after {
  border-color: #ff408c;
}
body.indesign .imgFor svg {
  color: #ff408c;
}
body.indesign .six-bloc i span::before {
  color: #ff408c !important;
}
body.indesign .text-principale .corp-first {
  border-color: #ff408c;
}
body.indesign .text-principale .corp {
  border-color: #ff408c;
}
body.illustrator .navTop a {
  color: #ff7f18;
}
body.illustrator .navTop a i {
  color: #ff7f18;
}
body.illustrator .menuOverlay .bodyMenuOverlay a {
  color: #ff7f18;
}
body.illustrator .menuOverlay header p {
  color: #ff7f18;
}
body.illustrator .menuOverlay header p strong::after {
  background: #ff7f18;
}
body.illustrator .menuOverlay footer {
  color: #ff7f18;
}
body.illustrator .menuOverlay footer .socialBar a {
  color: #ff7f18;
}
body.illustrator .menuNav a {
  color: #ff7f18;
}
body.illustrator footer p {
  color: #ff7f18;
}
body.illustrator footer p a {
  color: #ff7f18;
}
body.illustrator footer .top a::before {
  border-color: #ff7f18;
}
body.illustrator footer .top a::after {
  border-color: #ff7f18;
}
body.illustrator .imgFor svg {
  color: #ff7f18;
}
body.illustrator .six-bloc i span::before {
  color: #ff7f18 !important;
}
body.illustrator .text-principale .corp-first {
  border-color: #ff7f18;
}
body.illustrator .text-principale .corp {
  border-color: #ff7f18;
}
body.photoshop .navTop a {
  color: #31c5f0;
}
body.photoshop .navTop a i {
  color: #31c5f0;
}
body.photoshop .menuOverlay .bodyMenuOverlay a {
  color: #31c5f0;
}
body.photoshop .menuOverlay header p {
  color: #31c5f0;
}
body.photoshop .menuOverlay header p strong::after {
  background: #31c5f0;
}
body.photoshop .menuOverlay footer {
  color: #31c5f0;
}
body.photoshop .menuOverlay footer .socialBar a {
  color: #31c5f0;
}
body.photoshop .menuNav a {
  color: #31c5f0;
}
body.photoshop footer p {
  color: #31c5f0;
}
body.photoshop footer p a {
  color: #31c5f0;
}
body.photoshop footer .top a::before {
  border-color: #31c5f0;
}
body.photoshop footer .top a::after {
  border-color: #31c5f0;
}
body.photoshop .imgFor svg {
  color: #31c5f0;
}
body.photoshop .six-bloc i span::before {
  color: #31c5f0 !important;
}
body.photoshop .text-principale .corp-first {
  border-color: #31c5f0;
}
body.photoshop .text-principale .corp {
  border-color: #31c5f0;
}
body.wp .navTop a {
  color: #5582c2;
}
body.wp .navTop a i {
  color: #5582c2;
}
body.wp .menuOverlay .bodyMenuOverlay a {
  color: #5582c2;
}
body.wp .menuOverlay header p {
  color: #5582c2;
}
body.wp .menuOverlay header p strong::after {
  background: #5582c2;
}
body.wp .menuOverlay footer {
  color: #5582c2;
}
body.wp .menuOverlay footer .socialBar a {
  color: #5582c2;
}
body.wp .menuNav a {
  color: #5582c2;
}
body.wp footer p {
  color: #5582c2;
}
body.wp footer p a {
  color: #5582c2;
}
body.wp footer .top a::before {
  border-color: #5582c2;
}
body.wp footer .top a::after {
  border-color: #5582c2;
}
body.wp .imgFor svg {
  color: #5582c2;
}
body.wp .six-bloc i span::before {
  color: #5582c2 !important;
}
body.wp .text-principale .corp-first {
  border-color: #5582c2;
}
body.wp .text-principale .corp {
  border-color: #5582c2;
}
/****************************************************************************************************
                                            Animations
****************************************************************************************************/
@keyframes afterMove {
  0% {
    height: 80%;
    width: 3px;
    top: 5%;
  }
  50% {
    top: 0;
    height: 100%;
    width: 3px;
  }
  100% {
    top: 0;
    height: 100%;
    width: 100%;
  }
}
@keyframes rond {
  0% {
    opacity: 0;
    transform: scale(1.3);
  }
  25% {
    opacity: 1;
    transform: scale(1);
  }
  50% {
    opacity: 1;
    transform: scale(1);
  }
  75% {
    transform: scale(1);
  }
  100% {
    opacity: 0;
    transform: scale(1);
  }
}
@keyframes fleche {
  0% {
    opacity: 0;
    top: -100%;
  }
  25% {
    opacity: 0;
    top: -100%;
  }
  50% {
    opacity: 1;
    top: 50%;
  }
  75% {
    opacity: 1;
    top: 50%;
  }
  100% {
    opacity: 0;
    top: 50%;
  }
}
@keyframes flecheTop {
  0% {
    opacity: 0;
    top: 150%;
  }
  25% {
    opacity: 0;
    top: 150%;
  }
  50% {
    opacity: 1;
    top: 50%;
  }
  75% {
    opacity: 1;
    top: 50%;
  }
  100% {
    opacity: 0;
    top: 50%;
  }
}
/****************************************************************************************************
                                            Loader
****************************************************************************************************/
.loader {
  background: white;
  width: 100%;
  height: 100vh;
  position: fixed;
  z-index: 1111;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.loader img {
  width: 400px;
  height: 400px;
}
/****************************************************************************************************
                                            Réseaux top
****************************************************************************************************/
@keyframes slideReseauxTop {
  0% {
    width: 0%;
    left: 0%;
  }
  50% {
    width: 100%;
    left: 0%;
  }
  100% {
    width: 100%;
    left: 100%;
  }
}
.reseauxTop .links {
  width: 100%;
  height: 20vh;
  display: flex;
  background: #ffffff;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: -300px;
  z-index: 10008;
}
.reseauxTop .links div {
  flex: 1;
  height: 20vh;
  position: relative;
  border-left: 1px solid white;
  border-right: 1px solid white;
}
.reseauxTop .links div a {
  width: 100%;
  height: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.reseauxTop .links div svg {
  font-size: 25px;
  color: #333333;
  transition: color 0.5s ease;
}
.reseauxTop .links div::before {
  content: " ";
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 10px;
  background: #333333;
}
.reseauxTop .links div::after {
  content: " ";
  position: absolute;
  bottom: 0;
  width: 0%;
  height: 10px;
  left: 0;
}
.reseauxTop .links div:hover::after {
  animation-name: slideReseauxTop;
  animation-duration: 1s;
}
.reseauxTop .links .facebook::after {
  background: #3b5998;
}
.reseauxTop .links .facebook:hover a svg {
  color: #3b5998;
}
.reseauxTop .links .instagram::after {
  background: #e95950;
}
.reseauxTop .links .instagram:hover a svg {
  color: #e95950;
}
.reseauxTop .links .twitter::after {
  background: #33CCFF;
}
.reseauxTop .links .twitter:hover a svg {
  color: #33CCFF;
}
.reseauxTop .links .linkedin::after {
  background: #0e76a8;
}
.reseauxTop .links .linkedin:hover a svg {
  color: #0e76a8;
}
.reseauxTop .close-reseauxTop {
  width: 100%;
  height: 80vh;
  z-index: 200000;
  position: fixed;
  bottom: 0;
}
/****************************************************************************************************
                                            Menu Overlay
****************************************************************************************************/
header {
  width: 100%;
}
.navTop {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 8vh;
  margin-bottom: 8vh;
  position: absolute;
  z-index: 10;
  width: 100%;
  left: 50%;
  transform: translateX(-50%);
}
.navTop .logo-navTop i {
  font-size: 80px;
}
.navTop .navControls-navTop ul {
  display: flex;
  align-items: center;
}
.navTop .navControls-navTop ul li {
  margin-left: 20px;
  font-size: 20px;
  font-weight: 500;
}
.navTop .navControls-navTop ul li i {
  font-size: 40px;
  transition: all 0.3s ease;
}
.navTop .navControls-navTop ul li i:hover {
  color: #FFD03B;
}
.menuOverlay {
  position: fixed;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  padding: 0px 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  z-index: 1003;
}
.menuOverlay .before {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  border: 0px solid #f3f3f3;
  z-index: -1;
  transition: all 0.5s ease;
}
.menuOverlay:hover {
  cursor: url(../img/cursorClose.png), auto;
}
.menuOverlay .croix {
  display: none;
}
.menuOverlay header {
  margin-left: -50px;
  margin-top: 10vh;
  transition: all 0.3s ease;
}
.menuOverlay header strong {
  font-weight: 700;
  margin-right: 100px;
  position: relative;
}
.menuOverlay header strong::after {
  content: " ";
  width: 80px;
  height: 3px;
  background: #333333;
  position: absolute;
  top: 10px;
  margin-left: 8px;
}
.menuOverlay .bodyMenuOverlay {
  text-align: center;
  transition: all 0.3s ease;
  transform: scale(1.2);
}
.menuOverlay .bodyMenuOverlay ul {
  display: flex;
  justify-content: space-around;
}
.menuOverlay .bodyMenuOverlay ul li {
  font-size: 1.8vw;
  font-weight: 900;
  text-align: left;
  position: relative;
}
.menuOverlay .bodyMenuOverlay ul li ul.subMenu {
  flex-direction: column;
  position: absolute;
  padding: 10px;
  padding-left: 0;
  margin-top: 10px;
  text-align: left;
  opacity: 0;
  transition: all 0.3s ease;
}
.menuOverlay .bodyMenuOverlay ul li ul.subMenu li {
  font-size: 20px;
  font-weight: 400;
  padding: 5px 2px 5px 0px;
  overflow: hidden;
  position: relative;
}
.menuOverlay .bodyMenuOverlay ul li ul.subMenu li a {
  padding: 5px 2px;
  position: relative;
  top: 23px;
  transition: all 0.3s ease;
  white-space: nowrap;
}
.menuOverlay footer {
  display: flex;
  justify-content: flex-end;
  margin-right: -50px;
  margin-bottom: 10vh;
  transition: all 0.3s ease;
}
.menuOverlay footer .social {
  display: flex;
  align-items: flex-end;
}
.menuOverlay footer .social p {
  text-transform: uppercase;
  font-size: 14px;
  margin-right: 10px;
  margin-bottom: 0;
}
.menuOverlay footer .social .socialBar {
  cursor: pointer;
}
.menuOverlay footer .social .socialBar ul {
  display: flex;
}
.menuOverlay footer .social .socialBar ul li {
  margin: 0px 7px;
}
.menuOverlay footer .social .socialBar ul li svg {
  font-size: 24px;
}
/****************************************************************************************************
                                            Menu Nav
****************************************************************************************************/
.menuNav {
  position: fixed;
  top: -300px;
  left: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100px;
  background: white;
  z-index: 1002;
  transition: all 0.5s ease;
}
.menuNav .btnMenuOverlay-menuNav {
  display: none;
}
.menuNav .btnMenuOverlay-menuNav a {
  font-size: 20px;
  font-weight: 500;
}
.menuNav .logo-menuNav i {
  font-size: 120px;
}
.menuNav .ul-menuNav ul.item-menuNav {
  display: inline-block;
  vertical-align: middle;
}
.menuNav .ul-menuNav ul.item-menuNav .lienReseauxTop i {
  font-size: 35px;
}
.menuNav .ul-menuNav ul.item-menuNav li {
  display: inline-block;
  vertical-align: middle;
  position: relative;
  margin-left: 1.33em;
  font-weight: 400;
  font-size: 18px;
  transition: all 0.3s ease;
}
.menuNav .ul-menuNav ul.item-menuNav li ul.subMenu {
  opacity: 0;
  position: absolute;
  display: block;
  padding: 15px 30px 20px;
  left: -35px;
  top: 100%;
  background: white;
  transition: all 0.3s ease;
}
.menuNav .ul-menuNav ul.item-menuNav li ul.subMenu li {
  transition: all 0.3s ease;
  display: block;
  margin-left: 0;
  position: relative;
  padding: 5px;
  overflow: hidden;
}
.menuNav .ul-menuNav ul.item-menuNav li ul.subMenu li a {
  transition: all 0.3s ease;
  position: relative;
  top: 23px;
  display: inline-block;
  white-space: nowrap;
}
/****************************************************************************************************
                                            Section titre
****************************************************************************************************/
.datadock {
  width: 10%;
  margin-top: 30px;
}
.img-in-h1 {
  height: 40px;
  margin-left: 5px;
}
.titreBg {
  background: white;
  position: relative;
  z-index: 1;
}
.socialBar {
  margin-top: 50px;
}
.socialBar ul {
  display: flex;
  justify-content: center;
}
.socialBar ul li {
  margin-left: 20px;
  font-size: 20px;
}
.socialBar ul li a {
  color: #FFD03B;
}
.socialBar ul li:nth-of-type(1) a:hover {
  color: #0e76a8 !important;
}
.socialBar ul li:nth-of-type(2) a:hover {
  color: #3b5998 !important;
}
.socialBar ul li:nth-of-type(3) a:hover {
  color: #e95950 !important;
}
.socialBar ul li:nth-of-type(4) a:hover {
  color: #33CCFF !important;
}
.titre {
  height: 100vh;
  text-align: center;
  padding-top: 35vh;
}
.titre .next {
  display: block;
  margin-top: 3vw;
  margin-left: 30px;
  width: 40px;
  height: 40px;
  position: relative;
}
.titre .next::after {
  content: " ";
  position: absolute;
  left: 0;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 3px solid #333333;
  opacity: 0;
  transform: scale(1.3);
  animation: rond 2s infinite;
  top: 5px;
  left: 5px;
  right: 5px;
  bottom: 5px;
}
.titre .next::before {
  content: " ";
  position: absolute;
  width: 10px;
  height: 10px;
  margin: -8px 0 0 -5px;
  transform: rotate(45deg);
  border-radius: 20%;
  border-bottom: 3px solid #333333;
  border-right: 3px solid #333333;
  opacity: 0;
  top: -100%;
  left: 50%;
  animation: fleche 2s infinite;
}
/****************************************************************************************************
                                            Slider
****************************************************************************************************/
.carousel.is-fullscreen .carousel-cell {
  height: 100%;
}
.slider1 .sliderImg .main-carousel {
  height: 100vh;
}
.slider1 .sliderImg .main-carousel .carousel-cell {
  overflow: hidden;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.slider1 .sliderImg .main-carousel .carousel-cell .carousel-cell-image {
  display: block;
  position: relative;
}
.slider1 .sliderImg .main-carousel .carousel-cell .description {
  position: absolute;
  margin: 70px;
  bottom: 0;
  left: 0;
}
.slider1 .sliderImg .main-carousel .carousel-cell .description .rond {
  width: 8px;
  height: 8px;
  border: 1px solid #333333;
  border-radius: 50%;
  position: absolute;
  top: 20px;
  left: 0px;
  transition: all 0.5s ease;
}
.slider1 .sliderImg .main-carousel .carousel-cell .description h2 {
  padding: 15px;
  font-size: 40px;
  font-weight: 800;
  position: relative;
  margin-bottom: 0px;
}
.slider1 .sliderImg .main-carousel .carousel-cell .description h2 span {
  position: relative;
  top: -7px;
  width: 0px;
  background: #333333;
  height: 7px;
}
.slider1 .sliderImg .main-carousel .carousel-cell .description p {
  padding: 0 15px;
}
.slider1 .sliderImg .main-carousel .carousel-cell .white {
  color: #f3f3f3;
}
.slider1 .sliderImg .main-carousel .carousel-cell .white div {
  border: 1px solid #f3f3f3 !important;
}
.slider1 .sliderImg .main-carousel .carousel-cell .white span {
  background: #f3f3f3 !important;
}
.slider1 .sliderImg .main-carousel .flickity-button {
  background: none;
  border-radius: 0%;
  transition: all 0.3s ease;
}
.slider1 .sliderImg .main-carousel .flickity-button:hover {
  background: #f3f3f3;
}
/****************************************************************************************************
                                        formationEnQuatresPoints
****************************************************************************************************/
.formationEnQuatresPoints {
  background: #4ff4ff;
  color: #333333;
}
.formationEnQuatresPoints div:first-child {
  display: flex;
}
.formationEnQuatresPoints div:first-child div {
  width: 50%;
  overflow: hidden;
}
.formationEnQuatresPoints div:first-child div img {
  height: auto;
}
.formationEnQuatresPoints div:first-child .text-ou {
  padding: 50px;
}
.formationEnQuatresPoints div:first-child article {
  padding: 20px;
  width: 100%;
}
/****************************************************************************************************
                                            L'atelier
****************************************************************************************************/
.atelier {
  display: flex;
  justify-content: center;
  align-items: center;
  background: url(../img/atelier-img.svg) no-repeat center 0;
  background-size: cover;
  background-attachment: fixed;
  height: 100vh;
}
.atelier div {
  width: 60%;
  padding: 50px;
}
.atelier .right img {
  width: 100%;
}
.atelier .left {
  text-align: center;
  background: rgba(79, 244, 255, 0.95);
  overflow: hidden;
  transition: all 0.5s ease;
}
.atelier .left h2 {
  text-align: center;
}
.atelier .left div.bouton {
  padding: 0;
  margin-bottom: 0px;
  margin-top: 40px;
  width: 180px;
}
/****************************************************************************************************
                                            Offres
****************************************************************************************************/
.formation {
  display: flex;
  flex-wrap: wrap;
}
.formation article {
  padding: 50px;
  text-align: center;
  color: #333333;
  width: 50%;
  background: white;
  position: relative;
  transition: all 0.5s ease;
  z-index: 2;
}
.formation article p {
  line-height: 1.5em;
}
.formation article .imgOffre {
  border: 2px solid rgba(77, 77, 77, 0.2);
}
.formation article:hover .imgOffre {
  border: 2px solid #4d4d4d;
  transform: scale(1.1);
}
.formation article div.bouton a {
  color: #333333;
}
.formation article div.bouton::before {
  border: 3px solid #333333;
}
.formation article div.bouton::after {
  border: 3px solid #333333;
}
.formation article .imgOffre {
  transition: all 0.5s ease;
  margin: 0 auto;
  border-radius: 50%;
  width: 120px;
  height: 120px;
  margin-bottom: 50px;
  padding: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.formation article .imgOffre svg {
  font-size: 38px;
}
.formation article div.bouton {
  opacity: 1;
  width: 180px;
  height: 60px;
  margin: 40px auto;
  margin-bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.5s ease;
}
.formation article div.bouton a {
  padding: 20px;
  position: relative;
  z-index: 100;
}
.formation article div.bouton::before {
  content: " ";
  position: absolute;
  width: 180px;
  height: 60px;
  border-radius: 3%;
  opacity: 1;
  transition: all 0.3s ease;
}
.formation article div.bouton::after {
  content: " ";
  position: absolute;
  width: 160px;
  height: 40px;
  border-radius: 3%;
  opacity: 0;
  transition: all 0.3s ease;
}
.formation article div.bouton:hover::before {
  width: 200px;
  height: 80px;
  opacity: 0;
}
.formation article div.bouton:hover::after {
  width: 180px;
  height: 60px;
  opacity: 1;
}
.formation article::after {
  position: absolute;
  content: " ";
  background: #4ff4ff;
  transition: all 0.5s ease;
  z-index: -1;
}
.formation article:nth-of-type(1)::after {
  width: 3px;
  height: 80%;
  top: 10%;
  right: 0px;
  transition: all 0.5s ease;
}
.formation article:nth-of-type(1):hover::after {
  animation: afterMove 1s;
  animation-fill-mode: forwards;
}
.formation article:nth-of-type(2)::after {
  width: 3px;
  height: 80%;
  top: 10%;
  left: -3px;
  transition: all 0.5s ease;
}
.formation article:nth-of-type(2):hover::after {
  animation: afterMove 1s;
  animation-fill-mode: forwards;
}
.formation article:nth-of-type(3)::after {
  width: 3px;
  height: 80%;
  top: 10%;
  right: 0px;
  transition: all 0.5s ease;
}
.formation article:nth-of-type(3):hover::after {
  animation: afterMove 1s;
  animation-fill-mode: forwards;
}
.formation article:nth-of-type(4)::after {
  width: 3px;
  height: 80%;
  top: 10%;
  left: -3px;
  transition: all 0.5s ease;
}
.formation article:nth-of-type(4):hover::after {
  animation: afterMove 1s;
  animation-fill-mode: forwards;
}
.formation article:nth-of-type(5)::after {
  width: 3px;
  height: 80%;
  top: 10%;
  right: 0px;
  transition: all 0.5s ease;
}
.formation article:nth-of-type(5):hover::after {
  animation: afterMove 1s;
  animation-fill-mode: forwards;
}
.formation article:nth-of-type(6)::after {
  width: 3px;
  height: 80%;
  top: 10%;
  left: -3px;
  transition: all 0.5s ease;
}
.formation article:nth-of-type(6):hover::after {
  animation: afterMove 1s;
  animation-fill-mode: forwards;
}
/****************************************************************************************************
                                            Réaliser
****************************************************************************************************/
.realiser {
  background: #333333;
  color: white;
}
.realiser .real-flex {
  display: flex;
  align-items: center;
}
.realiser .real-flex .img-real {
  width: 50%;
  overflow: hidden;
}
.realiser .real-flex .img-real img {
  width: 100%;
  transform: scale(1.01);
}
.realiser .real-flex .text-real {
  margin: 40px;
  width: 50%;
  text-align: left;
}
.realiser .real-flex .text-real .bouton {
  margin-left: 0;
  margin-bottom: 0;
}
.realiser .real-flex .text-real .bouton a {
  color: white;
}
.realiser .real-flex .text-real .bouton::before {
  border-color: white;
}
.realiser .real-flex .text-real .bouton::after {
  border-color: white;
}
/****************************************************************************************************
                                            Temoiganges
****************************************************************************************************/
.temoignages {
  padding-bottom: 1px;
  padding-top: 1px;
  color: #333333;
}
.temoignages .main-carousel {
  width: 100%;
  margin: 100px 0;
  text-align: center;
  /* fill-in selected dot */
}
.temoignages .main-carousel .carousel-cell {
  text-align: left;
  padding: 50px 100px;
  width: 100%;
}
.temoignages .main-carousel .carousel-cell h6 {
  text-transform: uppercase;
  font-weight: 400;
  font-size: 16px;
  margin-bottom: 10px;
}
.temoignages .main-carousel .carousel-cell h5 {
  text-transform: uppercase;
  text-align: right;
}
.temoignages .main-carousel .carousel-cell p {
  font-size: 24px;
  font-weight: 500;
  color: #333333;
  font-style: italic;
}
.temoignages .main-carousel .flickity-button {
  background: transparent;
}
.temoignages .main-carousel .flickity-button-icon {
  fill: #333333;
}
.temoignages .main-carousel .flickity-page-dots .dot {
  width: 5px;
  height: 5px;
  opacity: 1;
  background: #333333;
  transition: all 0.3s ease;
  vertical-align: middle;
}
.temoignages .main-carousel .flickity-page-dots .dot.is-selected {
  background: transparent;
  width: 15px;
  height: 15px;
  border: 2px solid #333333;
  border-radius: 20%;
  transform: rotate(45deg);
}
/****************************************************************************************************
                                                Agence
****************************************************************************************************/
.agence {
  background: #4ff4ff;
}
.agence .wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px;
  width: 60%;
  text-align: center;
}
.agence .wrap h6 {
  flex: 2;
  font-size: 30px;
  margin-bottom: 50px;
}
.agence .wrap .bouton {
  flex: 1;
  margin: 0;
}
/****************************************************************************************************
                                                Footer
****************************************************************************************************/
footer.pad-g {
  background: white;
  padding-top: 150px;
  padding-bottom: 100px;
  display: flex;
  justify-content: space-between;
}
footer.pad-g .logo-footer {
  font-size: 100px;
  vertical-align: bottom;
  margin-right: 5px;
  line-height: 2rem;
}
footer.pad-g .logo-footer::before {
  vertical-align: bottom;
}
footer.pad-g .top img {
  transform: rotate(180deg);
  width: 40px;
  height: auto;
}
.next-top {
  display: block;
  width: 40px;
  height: 40px;
  position: relative;
}
.next-top::after {
  content: " ";
  position: absolute;
  left: 0;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 3px solid #333333;
  opacity: 0;
  transform: scale(1.3);
  animation: rond 2s infinite;
  top: 5px;
  left: 5px;
  right: 5px;
  bottom: 5px;
}
.next-top::before {
  content: " ";
  position: absolute;
  width: 10px;
  height: 10px;
  margin: -3px 0 0 -5px;
  transform: rotate(45deg);
  border-radius: 20%;
  border-top: 3px solid #333333;
  border-left: 3px solid #333333;
  opacity: 0;
  top: -100%;
  left: 50%;
  animation: flecheTop 2s infinite;
}
/****************************************************************************************************
                                                Pages
****************************************************************************************************/
/****************************************************************************************************
                                                Concept
****************************************************************************************************/
.nousSommes {
  padding-top: 15vh;
  padding-bottom: 15vh;
  text-align: center;
  background: #FFD03B;
  color: #333333;
}
.nousSommes section {
  width: 60%;
  margin: 0 auto;
}
.personnes {
  padding-top: 10vh;
  padding-bottom: 10vh;
  display: flex;
}
.personnes article {
  text-align: center;
  padding: 0 5vh;
}
.personnes article .imgPerso {
  width: 200px;
  height: 200px;
  margin: 0 auto;
  border-radius: 50%;
  border: 1px solid #333333;
}
.personnes article h4 {
  margin-top: 50px;
}
.personnes article .socialBarPerso {
  display: flex;
  justify-content: center;
  margin: 20px 0 0;
}
.personnes article .socialBarPerso ul {
  display: flex;
}
.personnes article .socialBarPerso ul li a {
  font-size: 24px;
  margin: 0 10px;
}
/****************************************************************************************************
                                                Formations
****************************************************************************************************/
#video-fond {
  overflow: hidden;
  position: relative;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  height: 100vh;
  z-index: 0;
}
#video-fond .wrap {
  position: relative;
}
#video-fond > video {
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
}
/* 1. Pas de support d'object-fit */
@media (min-aspect-ratio: 16/9) {
  #video-fond > video {
    height: 300vh;
    top: -100%;
  }
}
@media (max-aspect-ratio: 16/9) {
  #video-fond > video {
    width: 300%;
    left: -100%;
  }
}
/* 2. En cas de support d'object-fit, écrase les règles en (1) */
@supports (object-fit: cover) {
  #video-fond > video {
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    object-fit: cover;
  }
}
.formation article img {
  width: 100%;
}
/****************************************************************************************************
                                               Formations
****************************************************************************************************/
.titre2 {
  padding-top: 30vh;
  padding-bottom: 10vh;
}
.titre2 .socialBar {
  margin-top: 8vh;
}
.titre2 .socialBar ul {
  justify-content: left;
}
.titre2 .socialBar ul li a {
  color: #333333;
}
.titre2 .socialBar ul li:nth-of-type(1) {
  margin-left: 0;
}
.titre2 h1 {
  text-align: left;
}
.titreFor {
  height: 100vh;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.titreFor .wrap {
  text-align: center;
  padding-top: 50vh;
}
.titreFor .wrap .socialBar {
  margin-top: 30px;
}
.titreFor .wrap .socialBar ul li a {
  color: #333333;
}
.titreFor .wrap h1 {
  font-size: 3rem;
}
.titreFor .wrap p {
  font-size: 1.5em;
}
.image-formation {
  width: 100%;
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(../img/contact-img.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover !important;
  background-attachment: fixed;
}
.image-formation img {
  width: 15%;
  height: auto;
}
.six-bloc {
  background: #f4f0e7;
  padding: 10vh 0;
  margin-top: -6px;
}
.triple-bloc {
  display: flex;
  margin-bottom: 50px;
}
.triple-bloc article {
  text-align: center;
  padding: 20px;
  width: 33%;
}
.triple-bloc article .imgFor {
  transition: all 0.5s ease;
  margin: 0 auto;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  padding: 20px;
  margin-bottom: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid rgba(77, 77, 77, 0.2);
}
.triple-bloc article .imgFor svg {
  font-size: 30px;
}
.triple-bloc article:hover .imgFor {
  border: 2px solid rgba(77, 77, 77, 0.8);
  transform: scale(1.1);
}
.text-principale {
  padding-top: 10vh;
  padding-bottom: 10vh;
}
.text-principale .wrap .corp-first {
  border-left: 5px solid #4ff4ff;
  text-align: left;
  margin-top: 0;
  padding: 30px;
  background: #4ff4ff;
}
.text-principale .wrap .corp {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 5vh;
  border-left: 5px solid #4ff4ff;
}
.text-principale .wrap .corp .text-corp {
  margin-right: 40px;
  flex: 3;
  padding-left: 30px;
}
.text-principale .wrap .corp .text-corp .bouton {
  margin-bottom: 0;
  margin-left: -10px;
  width: 200px;
}
.text-principale .wrap .corp .image-text-principale {
  flex: 1;
  text-align: center;
}
.text-principale .wrap .corp .image-text-principale img {
  width: 100%;
}
.tarifs {
  background: #f4f0e7;
  padding-top: 10vh;
  padding-bottom: 10vh;
}
.tarifs .wrap .offres-tarifs {
  display: flex;
  justify-content: space-around;
}
.tarifs .wrap .offres-tarifs div {
  text-align: center;
}
.tarifs .wrap .offres-tarifs div svg {
  font-size: 30px;
}
.tarifs .wrap .offres-tarifs div h5 {
  font-size: 1.2rem;
  font-weight: 700;
  margin: 10px;
}
.tarifs .wrap p {
  margin-top: 10px;
  text-align: center;
}
.tarif-atelier {
  display: flex;
}
.tarif-atelier .left {
  background: #E1E1C4;
}
.tarif-atelier .right {
  background: #E6D6BD;
}
.tarif-atelier div {
  width: 50%;
  text-align: center;
  padding: 40px;
}
.tarif-atelier div h4 {
  font-size: 1.6em;
  margin: 10px;
}
.tarif-atelier div h4 span {
  display: block;
  font-size: 1.1rem;
  margin-top: 10px;
}
.personnalisable {
  height: 80vh;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}
.personnalisable .wrap .article-atelier {
  width: auto;
}
.personnalisable .wrap article {
  margin: 0 auto;
  padding: 5vh;
  width: 60%;
  background: rgba(255, 255, 255, 0.9);
  display: flex;
}
.personnalisable .wrap article i {
  font-size: 40px;
  margin-right: 20px;
  line-height: 0.6;
}
.personnalisable .wrap .atelier-corp ul {
  display: flex;
}
.personnalisable .wrap .atelier-corp ul li {
  margin: 20px;
  text-align: center;
}
.personnalisable .wrap .atelier-corp ul li div p {
  font-size: 30px;
  display: block;
  position: relative;
}
.personnalisable .wrap .atelier-corp ul li div p::before {
  position: absolute;
  content: " ";
  border: 2px solid #333333;
  border-radius: 50%;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 40px;
  height: 40px;
}
.personnalisable .wrap .atelier-corp ul li h6 {
  white-space: nowrap;
  margin-top: 20px;
}
/****************************************************************************************************
                                                Ateliers
****************************************************************************************************/
.bg-color {
  background: #e6e6e6;
  padding-top: 10vh;
  padding-bottom: 10vh;
}
.bg-color .ateliers-text {
  font-size: 20px;
}
.bg-color .ateliers-text p {
  margin-bottom: 0px;
}
.bg-color .ateliers {
  margin-top: 5vh;
}
.bg-color .ateliers .bloc1 {
  padding: 0 5vh;
  border-left: 5px solid #FFD03B;
}
.bg-color .ateliers .bloc1 p {
  margin-bottom: 0;
  font-size: 20px;
}
/****************************************************************************************************
                                                Atelier
****************************************************************************************************/
.btn-fixe-resa a {
  border-left: 5px solid #FFD03B;
  background: #4ff4ff;
  display: flex;
  align-items: center;
  position: fixed;
  top: 150px;
  right: 0;
  padding: 10px;
  padding-right: 20px;
  z-index: 30;
}
.btn-fixe-resa a img {
  margin-right: 20px;
  width: 50px;
}
.btn-fixe-resa a h3 {
  margin-bottom: 0;
}
.btn-fixe-resa a::before {
  content: " ";
  position: absolute;
  height: 100%;
  width: 0;
  top: 0;
  left: 0;
  background: #FFD03B;
  z-index: -1;
  transition: all 0.3s ease;
}
.btn-fixe-resa a:hover::before {
  width: 100%;
}
.btn-fixe-resa a:hover h3 {
  color: #4ff4ff;
}
.bg-blue {
  background: #4ff4ff;
  padding: 5vh 0;
}
.bg-blue p {
  margin-bottom: 0;
  font-size: 20px;
}
.bonnes-rai {
  padding: 5vh 0;
}
.bonnes-rai .bonnes-rai-h {
  text-transform: uppercase;
  font-weight: 300;
  text-align: center;
  font-size: 1.5em;
}
.bonnes-rai .bonnes-rai-h strong {
  font-size: 1.7em;
  font-weight: 700;
  display: block;
  margin-top: 10px;
}
.bonnes-rai .flex-trois {
  display: flex;
  margin-top: 5vh;
}
.bonnes-rai .flex-trois article {
  width: 33%;
  text-align: center;
}
.bonnes-rai .flex-trois article h6 {
  text-align: center;
  font-weight: 300;
  text-transform: uppercase;
  position: relative;
  display: inline;
}
.bonnes-rai .flex-trois article h6::before {
  content: " ";
  position: absolute;
  height: 20px;
  width: 3px;
  background: #FFD03B;
  left: -10px;
}
.bonnes-rai .flex-trois article h2 {
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 10px;
}
.bloc1 {
  margin-top: 5vh;
  margin-bottom: 5vh;
  padding: 0 20px;
  border-left: 5px solid #FFD03B;
  font-size: 20px;
}
/*********************CALENDRIER*********************/
.calendrier {
  margin-top: 10vh;
}
.calendrier ul li {
  background: #4ff4ff;
  border: 0.5px solid #f3f3f3;
  border-left: 5px solid #FFD03B;
  max-height: 80px;
  overflow: hidden;
  transition: all 0.5s ease;
}
.calendrier ul li header {
  display: flex;
  align-items: center;
  padding: 10px;
  padding-left: 20px;
}
.calendrier ul li header:hover {
  cursor: pointer;
}
.calendrier ul li header .cl-date {
  text-align: center;
  margin-right: 20px;
  flex: 1;
}
.calendrier ul li header .cl-date h2 {
  margin-bottom: 5px;
}
.calendrier ul li header .cl-date h6 {
  color: #FFD03B;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 300;
}
.calendrier ul li header .cl-titre {
  flex: 8;
}
.calendrier ul li header .cl-titre h2 {
  color: #333333;
  margin-bottom: 0px;
}
.calendrier ul li .cl-content {
  display: flex;
  padding: 10px;
  padding-left: 20px;
  margin-bottom: 20px;
}
.calendrier ul li .cl-content .cl-icon {
  flex: 1;
  text-align: center;
  margin-right: 20px;
}
.calendrier ul li .cl-content .cl-icon i {
  font-size: 50px;
}
.calendrier ul li .cl-content .cl-text {
  flex: 8;
  margin-top: 10px;
}
.calendrier ul li:hover {
  border-left-width: 10px;
}
.calendrier ul li.cl-open:hover {
  border-left-width: 5px;
}
/****************************************************************************************************
                                                FAQ
****************************************************************************************************/
.titre3 {
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
.titre3 .wrap {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  padding-top: 10vh;
}
.titre3 .wrap .contenu h1 {
  text-align: center;
  color: white;
}
.titre3 .wrap .contenu .socialBar ul {
  justify-content: center;
}
.titre3 .wrap .contenu .socialBar ul li a {
  color: white;
}
.titre3Bis .wrap .contenu h1 {
  color: #333333;
}
.titre3Bis .wrap .contenu .socialBar ul li a {
  color: #333333;
}
.titre3BisB {
  background-attachment: initial;
}
.titre3BisB .wrap .contenu h1 {
  color: #333333;
}
.titre3BisB .wrap .contenu .socialBar ul li a {
  color: #333333;
}
.main-faq {
  display: flex;
  margin-top: 10vh;
}
.main-faq .faq {
  flex: 8;
  margin-right: 20px;
}
.main-faq .faq h3 {
  margin-bottom: 50px;
}
.main-faq .faq ul li {
  padding: 30px;
  overflow: hidden;
  max-height: 80px;
  border-bottom: 5px solid #4ff4ff;
  transition: all 0.5s ease;
  position: relative;
}
.main-faq .faq ul li::before {
  content: " ";
  position: absolute;
  width: 100%;
  height: 100%;
  top: -100%;
  left: 0;
  background: #4ff4ff;
  transition: all 0.5s ease-in;
  z-index: -1;
}
.main-faq .faq ul li .titre-faq {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 0 40px 0;
}
.main-faq .faq ul li .titre-faq:hover {
  cursor: pointer;
}
.main-faq .faq ul li .titre-faq h4 {
  margin-bottom: 0;
}
.main-faq .faq ul li .titre-faq i {
  margin-right: 10px;
  border-bottom: 4px solid #333333;
  border-right: 4px solid #333333;
  border-radius: 10%;
  transform: rotate(45deg);
  width: 15px;
  height: 15px;
  transition: all 0.3s ease;
}
.main-faq .faq ul li .titre-faq i:hover {
  cursor: pointer;
  transform: scale(1.3) rotate(45deg);
  border-bottom: 4px solid #FFD03B;
  border-right: 4px solid #FFD03B;
}
.main-faq .faq ul li .content-faq {
  padding: 0 20px 20px 20px;
}
.main-faq .faq ul li .content-faq .nav-faq {
  display: flex;
  align-items: center;
  margin-top: 20px;
}
.main-faq .faq ul li .content-faq .nav-faq .socialBar {
  margin-top: -7px;
}
.main-faq .faq ul li .content-faq .nav-faq .socialBar ul li {
  border: none;
  margin-left: 10px;
  padding: 0;
}
.main-faq .faq ul li .content-faq .nav-faq .socialBar ul li a {
  color: #333333;
}
.main-faq .faq ul li .content-faq .nav-faq .socialBar ul li a svg {
  font-size: 14px;
}
.main-faq .faq ul li.open {
  max-height: 1000px;
  border-color: #FFD03B;
  transition: all 1s ease;
}
.main-faq .faq ul li.open::before {
  top: 0px;
  transition: all 0.1s ease;
}
.main-faq .faq ul li.open i {
  transform: rotate(225deg);
}
.main-faq .faq ul li.open i:hover {
  transform: rotate(225deg) scale(1.3);
}
.main-faq .faq .autre-question {
  background: #4ff4ff;
  margin-top: 10vh;
  text-align: center;
  padding: 5vh 0;
}
.main-faq .faq .autre-question .bouton {
  margin: 20px auto 0px auto;
}
.main-faq .faq .autre-question h2 {
  line-height: 1em;
}
.main-faq .faq .autre-question h3 {
  margin-bottom: 30px;
}
.main-faq .sideBar {
  flex: 2;
  margin-left: 20px;
}
.main-faq .sideBar h3 {
  margin-bottom: 70px;
}
.main-faq .sideBar ul li {
  padding: 20px;
  margin: 20px;
}
.main-faq .sideBar ul li .content-sideBar {
  padding: 20px;
  text-align: center;
  position: relative;
  transition: all 0.5s ease;
}
.main-faq .sideBar ul li .content-sideBar::after,
.main-faq .sideBar ul li .content-sideBar::before {
  box-sizing: inherit;
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  border: 5px solid transparent;
  width: 0%;
  height: 0%;
}
.main-faq .sideBar ul li .content-sideBar::before {
  top: 0;
  left: 0;
  transition: width 0.25s ease-out, height 0.25s ease-out 0.25s;
}
.main-faq .sideBar ul li .content-sideBar::after {
  top: 0;
  left: 0;
}
.main-faq .sideBar ul li .content-sideBar img {
  transform: translateX(50%) translateY(-50%);
  position: absolute;
  top: 50%;
  right: 50%;
  width: 70%;
  transition: all 0.5s ease;
}
.main-faq .sideBar ul li .content-sideBar h4 {
  margin-top: 80px;
  opacity: 0;
  transition: all 0.5s ease;
}
.main-faq .sideBar ul li .content-sideBar .bouton {
  opacity: 0;
  transition: all 0.5s ease;
  margin: 0;
  padding: 10px;
}
.main-faq .sideBar ul li .content-sideBar .bouton a {
  padding: 10px;
}
.main-faq .sideBar ul li .content-sideBar .bouton::before {
  width: 150px;
  height: 50px;
}
.main-faq .sideBar ul li .content-sideBar .bouton::after {
  width: 130px;
  height: 30px;
}
.main-faq .sideBar ul li .content-sideBar .bouton:hover::after {
  width: 150px;
  height: 50px;
}
.main-faq .sideBar ul li .content-sideBar .bouton:hover::before {
  width: 170px;
  height: 70px;
}
.main-faq .sideBar ul li:hover .content-sideBar::after,
.main-faq .sideBar ul li:hover .content-sideBar::before {
  width: 100%;
  height: 100%;
}
.main-faq .sideBar ul li:hover .content-sideBar::before {
  border-top-color: #333333;
  border-right-color: #333333;
}
.main-faq .sideBar ul li:hover .content-sideBar::after {
  border-bottom-color: #333333;
  border-left-color: #333333;
  transition: height 0.25s ease-out, width 0.25s ease-out 0.25s;
}
.main-faq .sideBar ul li:hover .content-sideBar img {
  width: 30%;
  top: 50px;
}
.main-faq .sideBar ul li:hover .content-sideBar h4 {
  opacity: 1;
}
.main-faq .sideBar ul li:hover .content-sideBar .bouton {
  opacity: 1;
}
.main-faq .sideBar ul li:nth-of-type(1) {
  background: #4ff4ff;
}
.main-faq .sideBar ul li:nth-of-type(2) {
  background: #FFD03B;
}
.main-faq .sideBar ul li:nth-of-type(3) {
  background: #4ff4ff;
}
.main-faq .sideBar ul li:nth-of-type(4) {
  background: #FFD03B;
}
/****************************************************************************************************
                                                L'équipe
****************************************************************************************************/
.equipe-para .parallax {
  top: 0;
}
.close-equipe {
  display: none;
}
.equipe-bg {
  background: url(../img/seelab-bureau4.jpg) no-repeat center center;
  background-size: cover;
  background-attachment: fixed;
}
.equipe {
  display: flex;
  padding: 10vh;
  opacity: 0.97;
  flex-wrap: wrap;
}
.equipe article {
  display: flex;
  position: relative;
  text-align: center;
  padding: 7vw;
  padding-bottom: 100px;
  flex-wrap: wrap;
  width: 50%;
  background: black;
}
.equipe article .img-equipe {
  width: 100%;
}
.equipe article img {
  width: 80%;
}
.equipe article h3 {
  margin-top: 50px;
  font-size: 2rem;
}
.equipe article .socialBarPerso {
  margin-bottom: 20px;
}
.equipe article .socialBarPerso ul {
  display: flex;
  justify-content: center;
}
.equipe article .socialBarPerso ul li a {
  margin: 10px;
}
.equipe article .btn-plus {
  font-weight: 700;
  position: relative;
}
.equipe article .btn-plus::before {
  content: " ";
  position: absolute;
  width: 10px;
  height: 10px;
  border-bottom: 3px solid #333333;
  border-right: 3px solid #333333;
  transform: rotate(-45deg);
  right: -15%;
  top: 20%;
  transition: all 0.3s ease;
}
.equipe article .btn-plus:hover::before {
  transform: scale(1.3) rotate(-45deg);
  border-bottom: 3px solid #4ff4ff;
  border-right: 3px solid #4ff4ff;
}
.equipe article .content-equipe {
  position: absolute;
  padding: 0vw;
  top: 0;
  height: 100%;
  width: 0%;
  z-index: 2;
  overflow: hidden;
}
.equipe article .content-equipe h4:first-of-type {
  margin-top: 0;
}
.equipe article .content-equipe h4 {
  margin-top: 40px;
  position: relative;
  opacity: 0;
  top: -20px;
  overflow: hidden;
  transition: all 0.3s ease 0.5s;
}
.equipe article .content-equipe ol {
  position: relative;
  top: -20px;
  opacity: 0;
  transition: all 0.3s ease 0.7s;
}
.equipe article .content-equipe ol li {
  list-style-type: none;
}
.equipe article .content-equipe p {
  position: relative;
  top: -20px;
  opacity: 0;
  transition: all 0.3s ease 0.7s;
}
.equipe .open-equipe .content-equipe h4 {
  top: 0px;
  opacity: 1;
}
.equipe .open-equipe .content-equipe ol,
.equipe .open-equipe .content-equipe p {
  opacity: 1;
  top: 0px;
}
.equipe .open-equipe .img-equipe .btn-plus::before {
  transform: rotate(135deg);
}
.equipe .open-equipe .img-equipe .btn-plus:hover::before {
  transform: scale(1.3) rotate(135deg);
}
.equipe article:nth-of-type(2n) {
  background: #FFD03B;
}
.equipe article:nth-of-type(2n) .content-equipe {
  right: 100%;
  background: #FFD03B;
  text-align: right;
}
.equipe article:nth-of-type(2n) .btn-plus:hover {
  color: #4ff4ff;
}
.equipe article:nth-of-type(2n+1) {
  background: #4ff4ff;
}
.equipe article:nth-of-type(2n+1) .content-equipe {
  left: 100%;
  background: #4ff4ff;
  text-align: left;
}
.equipe article:nth-of-type(2n+1) .btn-plus:hover::before {
  border-color: #FFD03B;
}
.block-text-vis {
  padding-top: 15vh;
  padding-bottom: 15vh;
  background: white;
}
.block-text-vis .wrap {
  display: flex;
}
.block-text-vis .wrap .titre-left {
  flex: 3;
  text-align: right;
  margin-right: 40px;
}
.block-text-vis .wrap .text-right {
  flex: 9;
  margin-right: 50px;
}
/****************************************************************************************************
                                                Atelier
****************************************************************************************************/
.atelierr h1 {
  color: #fff;
  mix-blend-mode: exclusion;
  position: relative;
  z-index: 1;
}
.bg-video {
  overflow: hidden;
  position: relative;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  height: 100vh;
  z-index: 0;
}
.bg-video::before {
  position: absolute;
  content: " ";
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
}
.bg-video > video {
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
}
/* 1. Pas de support d'object-fit */
@media (min-aspect-ratio: 16/9) {
  .bg-video > video {
    height: 300vh;
    top: -100%;
  }
}
@media (max-aspect-ratio: 16/9) {
  .bg-video > video {
    width: 300%;
    left: -100%;
  }
}
/* 2. En cas de support d'object-fit, écrase les règles en (1) */
@supports (object-fit: cover) {
  .bg-video > video {
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    object-fit: cover;
  }
}
.video-titre {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  z-index: 0;
}
/****************************************************************************************************
                                                Finanacement
****************************************************************************************************/
.content-financement h2 {
  margin-top: 40px;
}
.content-financement .vis-a-vis {
  padding-top: 10vh;
  padding-bottom: 5vh;
  display: flex;
  align-items: center;
}
.content-financement .vis-a-vis div {
  flex: 1;
}
.content-financement .vis-a-vis div img {
  width: 100%;
}
.content-financement .vis-a-vis div:nth-of-type(2) {
  margin-left: 20px;
}
.content-financement .vis-a-vis div:nth-of-type(1) {
  margin-right: 20px;
}
.content-bis-financement {
  padding-top: 10vh;
  background: #4ff4ff;
}
.content-bis-financement .wrap .triple-colones {
  display: flex;
}
.content-bis-financement .wrap .triple-colones article {
  padding: 30px;
  text-align: center;
  flex: 1;
}
.content-bis-financement .wrap .triple-colones article .imgOffre {
  border: 2px solid #333333;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 130px;
  height: 130px;
  margin: 30px auto;
  border-radius: 50%;
}
.content-bis-financement .wrap .triple-colones article .imgOffre svg {
  font-size: 60px;
}
.content-bis-financement .wrap .triple-colones article h3 {
  margin-bottom: 20px;
}
.content-bis-financement .wrap .triple-colones article p {
  text-align: justify;
}
.content-bis-financement .wrap .triple-colones article:nth-of-type(1) {
  padding-left: 0;
}
.content-bis-financement .wrap .triple-colones article:nth-of-type(3) {
  padding-right: 0;
}
.content-bis-financement .wrap .quatre-colones {
  margin-top: 10vh;
  padding-bottom: 10vh;
}
.content-bis-financement .wrap .quatre-colones .content-quatre-colones {
  display: flex;
}
.content-bis-financement .wrap .quatre-colones .content-quatre-colones section {
  flex: 1;
  margin-top: 20px;
  padding: 20px;
  text-align: center;
}
.content-bis-financement .wrap .quatre-colones .content-quatre-colones section p {
  text-align: left;
}
.content-bis-financement .wrap .quatre-colones .content-quatre-colones section p strong {
  font-weight: 700;
}
.content-bis-financement .wrap .quatre-colones .content-quatre-colones section i {
  margin: 0 auto;
  font-size: 80px;
  line-height: 7rem;
}
/****************************************************************************************************
                                                Contact
****************************************************************************************************/
.contact-map {
  background: #4ff4ff;
}
.contact-map .contact {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  float: left;
  height: 90vh;
  text-align: center;
  color: #333333;
}
.contact-map .contact span {
  display: block;
}
.contact-map .contact .socialBar-contact ul {
  display: flex;
  justify-content: center;
}
.contact-map .contact .socialBar-contact ul li a {
  color: #333333;
  font-size: 20px;
  margin-left: 10px;
}
.contact-map .map {
  height: 90vh;
  width: 50%;
}
/****************MAP INFOBULLE*****************/
.infoBulle-map {
  text-align: center;
  padding: 10px;
}
.infoBulle-map .infos-map p {
  margin-bottom: 0;
}
.infoBulle-map .bouton-map {
  display: flex;
  justify-content: center;
}
.infoBulle-map .bouton-map div {
  margin: 10px;
  background: #4ff4ff;
  padding: 10px;
  transition: all 0.3s ease;
  border: 2px solid #4ff4ff;
}
.infoBulle-map .bouton-map div a {
  padding: 10px;
}
.infoBulle-map .bouton-map div:hover {
  background: none;
}
.form-img {
  display: flex;
  background: url('../img/bg-form-contact.jpg') no-repeat center center;
  background-size: cover;
}
.form-img .form {
  background: #4ff4ff;
  margin: 15vh;
  width: 0%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.form-img .form form {
  margin: 50px 100px;
  display: flex;
  flex-direction: column;
  width: 0%;
  color: #333333;
  overflow: hidden;
}
.form-img .form form .validation {
  display: flex;
  margin-bottom: 5vh;
  opacity: 0;
}
.form-img .form form .validation input {
  margin-right: 20px;
  padding: 8px;
}
.form-img .form form .validation p {
  font-size: 11px;
}
.form-img .form form input,
.form-img .form form textarea {
  border: none;
  padding: 10px 0;
  margin: 5px 0;
  font-family: 'Raleway', sans-serif;
  font-weight: 300;
  font-size: 18px;
  line-height: 1.2em;
  color: #333333;
}
.form-img .form form input::placeholder,
.form-img .form form textarea::placeholder {
  color: #333333;
}
.form-img .form form .nom,
.form-img .form form .email {
  position: relative;
  top: 0px;
  opacity: 0;
  transition: all 0.3s ease;
  overflow: hidden;
}
.form-img .form form textarea {
  font-size: 24px;
  resize: vertical;
}
.form-img .form form textarea:focus {
  outline: none;
}
.form-img .form form button[type="submit"] {
  font-family: 'Raleway', sans-serif;
  width: 200px;
  height: 20px;
  text-align: left;
  letter-spacing: 0.15em;
  font-weight: 300;
  color: #333333;
  text-transform: uppercase;
  position: relative;
  overflow: hidden;
  opacity: 0;
  cursor: pointer;
  transition: 0.3s ease;
}
.form-img .form form button[type="submit"]:hover {
  background: none;
  color: white;
}
.form-img .form form button[type="submit"]:focus {
  outline: none;
}
.form-img .form form button[type="submit"] .tapez {
  position: absolute;
  top: 0;
  transition: all 0.5s ease;
}
.form-img .form form button[type="submit"] .envoyer {
  position: absolute;
  top: 30px;
  transition: all 0.5s ease;
}
.lien-agence {
  width: 100%;
  background: #4ff4ff;
  padding: 15vh 0;
}
.lien-agence a h2 {
  font-size: 40px;
  text-align: center;
  font-weight: 900;
  color: #333333;
  transition: all 0.5s ease;
  margin-bottom: 0;
}
.lien-agence a:hover h2 {
  color: #FFD03B;
}
